n8n-workflows/wf-kite-callback.json
{
    "updatedAt": "2026-02-20T04:40:26.647Z",
    "createdAt": "2026-02-20T02:21:33.292Z",
    "id": "hTJTWtMihWIjGZfi",
    "name": "WF_KITE_CALLBACK - Kite OAuth Handler",
    "description": null,
    "active": true,
    "isArchived": false,
    "nodes": [
        {
            "id": "kite-callback-webhook",
            "name": "Kite OAuth Callback",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                240,
                300
            ],
            "webhookId": "kite-callback",
            "parameters": {
                "path": "kite-callback",
                "httpMethod": "GET",
                "responseMode": "responseNode"
            }
        },
        {
            "id": "check-token",
            "name": "Check Callback Params",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                460,
                300
            ],
            "parameters": {
                "jsCode": "const query = $input.first().json.query || {};\nconst requestToken = query.request_token || '';\nconst status = query.status || '';\nconst type = query.type || '';\n\nif (status !== 'success' || !requestToken) {\n  return [{ json: {\n    valid: false,\n    error: 'Missing or failed token: status=' + status,\n    request_token: ''\n  }}];\n}\n\nreturn [{ json: {\n  valid: true,\n  request_token: requestToken,\n  status: status,\n  type: type\n}}];"
            }
        },
        {
            "id": "is-valid-callback",
            "name": "Token Valid?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                680,
                300
            ],
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "id": "valid-check",
                            "leftValue": "={{ $json.valid }}",
                            "rightValue": true,
                            "operator": {
                                "type": "boolean",
                                "operation": "equals"
                            }
                        }
                    ],
                    "combinator": "and"
                }
            }
        },
        {
            "id": "fetch-kite-creds",
            "name": "Fetch Kite Credentials",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.5,
            "position": [
                900,
                200
            ],
            "credentials": {
                "postgres": {
                    "id": "6dSdIQ2xAFPzyEwe",
                    "name": "Postgres account"
                }
            },
            "parameters": {
                "operation": "executeQuery",
                "query": "SELECT u.id as user_id, u.telegram_user_id, u.private_chat_id as chat_id,\n       u.kite_api_key_encrypted as api_key,\n       u.kite_api_secret_encrypted as api_secret\nFROM users u\nWHERE u.is_kite_provider = true\nLIMIT 1"
            }
        },
        {
            "id": "compute-checksum-cb",
            "name": "Compute Checksum",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1120,
                200
            ],
            "parameters": {
                "jsCode": "// Pure JS SHA256 - no modules needed\nfunction sha256(ascii) {\n  function rr(v, a) { return (v >>> a) | (v << (32 - a)); }\n  var mp = Math.pow, mw = 4294967296, r = \"\", w = [], abl = ascii.length * 8;\n  var h = [], k = [], pc = 0, ic = {};\n  for (var c = 2; pc < 64; c++) {\n    if (!ic[c]) {\n      for (var i = 0; i < 313; i += c) ic[i] = c;\n      h[pc] = (mp(c, .5) * mw) | 0;\n      k[pc++] = (mp(c, 1/3) * mw) | 0;\n    }\n  }\n  ascii += \"\u0080\";\n  while (ascii.length % 64 - 56) ascii += \"\u0000\";\n  for (i = 0; i < ascii.length; i++) {\n    var j = ascii.charCodeAt(i);\n    w[i >> 2] |= j << ((3 - i) % 4) * 8;\n  }\n  w[w.length] = (abl / mw) | 0;\n  w[w.length] = abl;\n  for (j = 0; j < w.length;) {\n    var ww = w.slice(j, j += 16), oh = h;\n    h = h.slice(0, 8);\n    for (i = 0; i < 64; i++) {\n      var w15 = ww[i-15], w2 = ww[i-2], a = h[0], e = h[4];\n      var t1 = h[7] + (rr(e,6) ^ rr(e,11) ^ rr(e,25)) + ((e & h[5]) ^ (~e & h[6])) + k[i]\n        + (ww[i] = i < 16 ? ww[i] : (ww[i-16] + (rr(w15,7) ^ rr(w15,18) ^ (w15>>>3)) + ww[i-7] + (rr(w2,17) ^ rr(w2,19) ^ (w2>>>10))) | 0);\n      var t2 = (rr(a,2) ^ rr(a,13) ^ rr(a,22)) + ((a & h[1]) ^ (a & h[2]) ^ (h[1] & h[2]));\n      h = [(t1 + t2) | 0].concat(h);\n      h[4] = (h[4] + t1) | 0;\n    }\n    for (i = 0; i < 8; i++) h[i] = (h[i] + oh[i]) | 0;\n  }\n  for (i = 0; i < 8; i++)\n    for (j = 3; j + 1; j--)\n      r += ((h[i] >> (j * 8) & 255) < 16 ? \"0\" : \"\") + (h[i] >> (j * 8) & 255).toString(16);\n  return r;\n}\n\nconst creds = $(\"Fetch Kite Credentials\").first().json;\nconst token = $(\"Check Callback Params\").first().json.request_token;\nconst apiKey = creds.api_key || \"\";\nconst apiSecret = creds.api_secret || \"\";\nconst checksum = sha256(apiKey + token + apiSecret);\n\nreturn [{ json: {\n  api_key: apiKey,\n  request_token: token,\n  checksum: checksum,\n  user_id: creds.user_id,\n  telegram_user_id: creds.telegram_user_id,\n  chat_id: creds.chat_id\n}}];"
            }
        },
        {
            "id": "kite-exchange-cb",
            "name": "Exchange Token",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1340,
                200
            ],
            "parameters": {
                "method": "POST",
                "url": "https://api.kite.trade/session/token",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/x-www-form-urlencoded"
                        },
                        {
                            "name": "X-Kite-Version",
                            "value": "3"
                        }
                    ]
                },
                "sendBody": true,
                "contentType": "form-urlencoded",
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "api_key",
                            "value": "={{ $json.api_key }}"
                        },
                        {
                            "name": "request_token",
                            "value": "={{ $json.request_token }}"
                        },
                        {
                            "name": "checksum",
                            "value": "={{ $json.checksum }}"
                        }
                    ]
                },
                "options": {
                    "response": {
                        "response": {
                            "neverError": true
                        }
                    }
                }
            },
            "onError": "continueRegularOutput"
        },
        {
            "id": "store-token-cb",
            "name": "Store Token",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.5,
            "position": [
                2000,
                120
            ],
            "credentials": {
                "postgres": {
                    "id": "6dSdIQ2xAFPzyEwe",
                    "name": "Postgres account"
                }
            },
            "parameters": {
                "operation": "executeQuery",
                "query": "INSERT INTO kite_sessions (user_id, access_token_encrypted, token_expiry, last_login_at)\nVALUES ($1, $2, NOW() + INTERVAL '18 hours', NOW())\nON CONFLICT (user_id) DO UPDATE SET\n  access_token_encrypted = EXCLUDED.access_token_encrypted,\n  token_expiry = EXCLUDED.token_expiry,\n  last_login_at = NOW()\nRETURNING user_id, token_expiry",
                "additionalFields": {
                    "queryParams": "={{ [$('Compute Checksum').first().json.user_id, $input.first().json.data?.access_token || $input.first().json.access_token || ''] }}"
                },
                "options": {
                    "queryReplacement": "={{ [$json.user_id, $json.access_token] }}"
                }
            }
        },
        {
            "id": "notify-user-cb",
            "name": "Notify User",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                2220,
                120
            ],
            "parameters": {
                "method": "POST",
                "url": "https://api.telegram.org/bot8253200545:AAGzywflmgSpKU8aY457FmBGUv0e_ojT6aI/sendMessage",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify({ chat_id: $('Compute Checksum').first().json.chat_id, text: \"\\u2705 *Kite Login Successful!*\\n\\nYour Zerodha session is now active. Live prices enabled!\\n\\nSend /briefing for today's market briefing or /portfolio to see your holdings.\", parse_mode: \"Markdown\", reply_markup: JSON.stringify({ inline_keyboard: [[{ text: \"\\ud83d\\udcca Portfolio\", callback_data: \"portfolio\" }, { text: \"\\ud83d\\udcf0 Briefing\", callback_data: \"briefing\" }]] }) }) }}",
                "options": {
                    "response": {
                        "response": {
                            "neverError": true
                        }
                    }
                }
            }
        },
        {
            "id": "success-response",
            "name": "Login Success Page",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                2440,
                120
            ],
            "parameters": {
                "respondWith": "text",
                "responseBody": "<!DOCTYPE html><html><head><meta charset=\"utf-8\"><title>StockPulse - Login Successful</title><meta name=\"viewport\" content=\"width=device-width,initial-scale=1\"><style>body{font-family:-apple-system,sans-serif;display:flex;align-items:center;justify-content:center;min-height:100vh;margin:0;background:#0a0f1a;color:#fff}.card{text-align:center;padding:40px;background:#111827;border-radius:16px;max-width:400px}.icon{font-size:64px;margin-bottom:16px}h1{color:#10b981;margin:0 0 8px}p{color:#9ca3af;margin:8px 0}.btn{display:inline-block;margin-top:24px;padding:12px 24px;background:#10b981;color:#fff;border-radius:8px;text-decoration:none;font-weight:600}</style></head><body><div class=\"card\"><div class=\"icon\">&#x2705;</div><h1>Login Successful!</h1><p>Your Kite session is now active.</p><p>Return to Telegram to continue.</p><a class=\"btn\" href=\"https://t.me/\">Open Telegram</a></div></body></html>",
                "options": {
                    "responseCode": 200
                }
            }
        },
        {
            "id": "error-response",
            "name": "Login Error Page",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                2000,
                320
            ],
            "parameters": {
                "respondWith": "text",
                "responseBody": "<!DOCTYPE html><html><head><meta charset=\"utf-8\"><title>StockPulse - Login Failed</title><meta name=\"viewport\" content=\"width=device-width,initial-scale=1\"><style>body{font-family:-apple-system,sans-serif;display:flex;align-items:center;justify-content:center;min-height:100vh;margin:0;background:#0a0f1a;color:#fff}.card{text-align:center;padding:40px;background:#111827;border-radius:16px;max-width:400px}.icon{font-size:64px;margin-bottom:16px}h1{color:#ef4444;margin:0 0 8px}p{color:#9ca3af;margin:8px 0}.btn{display:inline-block;margin-top:24px;padding:12px 24px;background:#10b981;color:#fff;border-radius:8px;text-decoration:none;font-weight:600}</style></head><body><div class=\"card\"><div class=\"icon\">&#x274c;</div><h1>Login Failed</h1><p>The login link may have expired.</p><p>Return to Telegram and try again.</p><a class=\"btn\" href=\"https://t.me/\">Open Telegram</a></div></body></html>",
                "options": {
                    "responseCode": 400
                }
            }
        },
        {
            "id": "check-exchange-result",
            "name": "Check Exchange Result",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1560,
                200
            ],
            "parameters": {
                "jsCode": "const resp = $input.first().json;\nconst ctx = $(\"Compute Checksum\").first().json;\n\nif (resp.data && resp.data.access_token) {\n  return [{ json: {\n    success: true,\n    access_token: resp.data.access_token,\n    user_id: ctx.user_id,\n    chat_id: ctx.chat_id,\n    telegram_user_id: ctx.telegram_user_id\n  }}];\n}\n\nconst errorMsg = resp.message || resp.error_type || 'Token exchange failed. Please login again.';\nreturn [{ json: {\n  success: false,\n  error: errorMsg,\n  chat_id: ctx.chat_id\n}}];"
            }
        },
        {
            "id": "exchange-success-check",
            "name": "Exchange OK?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                1780,
                200
            ],
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "id": "check-success",
                            "leftValue": "={{ $json.success }}",
                            "rightValue": true,
                            "operator": {
                                "type": "boolean",
                                "operation": "equals"
                            }
                        }
                    ],
                    "combinator": "and"
                }
            }
        }
    ],
    "connections": {
        "Kite OAuth Callback": {
            "main": [
                [
                    {
                        "node": "Check Callback Params",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Check Callback Params": {
            "main": [
                [
                    {
                        "node": "Token Valid?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Token Valid?": {
            "main": [
                [
                    {
                        "node": "Fetch Kite Credentials",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Login Error Page",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Fetch Kite Credentials": {
            "main": [
                [
                    {
                        "node": "Compute Checksum",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Compute Checksum": {
            "main": [
                [
                    {
                        "node": "Exchange Token",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Exchange Token": {
            "main": [
                [
                    {
                        "node": "Check Exchange Result",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Store Token": {
            "main": [
                [
                    {
                        "node": "Notify User",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Notify User": {
            "main": [
                [
                    {
                        "node": "Login Success Page",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Check Exchange Result": {
            "main": [
                [
                    {
                        "node": "Exchange OK?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Exchange OK?": {
            "main": [
                [
                    {
                        "node": "Store Token",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Login Error Page",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1",
        "callerPolicy": "workflowsFromSameOwner",
        "availableInMCP": false
    },
    "staticData": null,
    "meta": null,
    "pinData": null,
    "versionId": "f8e27a46-b961-4269-8f35-8d54b396f6d2",
    "activeVersionId": "f8e27a46-b961-4269-8f35-8d54b396f6d2",
    "versionCounter": 15,
    "triggerCount": 1,
    "shared": [
        {
            "updatedAt": "2026-02-20T02:21:33.292Z",
            "createdAt": "2026-02-20T02:21:33.292Z",
            "role": "workflow:owner",
            "workflowId": "hTJTWtMihWIjGZfi",
            "projectId": "qJqZAaC2LCOkdDc2",
            "project": {
                "updatedAt": "2026-02-17T17:30:11.422Z",
                "createdAt": "2026-02-17T17:24:57.957Z",
                "id": "qJqZAaC2LCOkdDc2",
                "name": "Vipindas S <mail2vdas@gmail.com>",
                "type": "personal",
                "icon": null,
                "description": null,
                "creatorId": "88dcc745-8de1-40a7-a5c3-0cbc3021a882"
            }
        }
    ],
    "tags": [],
    "activeVersion": {
        "updatedAt": "2026-02-20T04:40:26.649Z",
        "createdAt": "2026-02-20T04:40:26.649Z",
        "versionId": "f8e27a46-b961-4269-8f35-8d54b396f6d2",
        "workflowId": "hTJTWtMihWIjGZfi",
        "nodes": [
            {
                "id": "kite-callback-webhook",
                "name": "Kite OAuth Callback",
                "type": "n8n-nodes-base.webhook",
                "typeVersion": 2,
                "position": [
                    240,
                    300
                ],
                "webhookId": "kite-callback",
                "parameters": {
                    "path": "kite-callback",
                    "httpMethod": "GET",
                    "responseMode": "responseNode"
                }
            },
            {
                "id": "check-token",
                "name": "Check Callback Params",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    460,
                    300
                ],
                "parameters": {
                    "jsCode": "const query = $input.first().json.query || {};\nconst requestToken = query.request_token || '';\nconst status = query.status || '';\nconst type = query.type || '';\n\nif (status !== 'success' || !requestToken) {\n  return [{ json: {\n    valid: false,\n    error: 'Missing or failed token: status=' + status,\n    request_token: ''\n  }}];\n}\n\nreturn [{ json: {\n  valid: true,\n  request_token: requestToken,\n  status: status,\n  type: type\n}}];"
                }
            },
            {
                "id": "is-valid-callback",
                "name": "Token Valid?",
                "type": "n8n-nodes-base.if",
                "typeVersion": 2,
                "position": [
                    680,
                    300
                ],
                "parameters": {
                    "conditions": {
                        "options": {
                            "caseSensitive": true,
                            "leftValue": "",
                            "typeValidation": "strict"
                        },
                        "conditions": [
                            {
                                "id": "valid-check",
                                "leftValue": "={{ $json.valid }}",
                                "rightValue": true,
                                "operator": {
                                    "type": "boolean",
                                    "operation": "equals"
                                }
                            }
                        ],
                        "combinator": "and"
                    }
                }
            },
            {
                "id": "fetch-kite-creds",
                "name": "Fetch Kite Credentials",
                "type": "n8n-nodes-base.postgres",
                "typeVersion": 2.5,
                "position": [
                    900,
                    200
                ],
                "credentials": {
                    "postgres": {
                        "id": "6dSdIQ2xAFPzyEwe",
                        "name": "Postgres account"
                    }
                },
                "parameters": {
                    "operation": "executeQuery",
                    "query": "SELECT u.id as user_id, u.telegram_user_id, u.private_chat_id as chat_id,\n       u.kite_api_key_encrypted as api_key,\n       u.kite_api_secret_encrypted as api_secret\nFROM users u\nWHERE u.is_kite_provider = true\nLIMIT 1"
                }
            },
            {
                "id": "compute-checksum-cb",
                "name": "Compute Checksum",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    1120,
                    200
                ],
                "parameters": {
                    "jsCode": "// Pure JS SHA256 - no modules needed\nfunction sha256(ascii) {\n  function rr(v, a) { return (v >>> a) | (v << (32 - a)); }\n  var mp = Math.pow, mw = 4294967296, r = \"\", w = [], abl = ascii.length * 8;\n  var h = [], k = [], pc = 0, ic = {};\n  for (var c = 2; pc < 64; c++) {\n    if (!ic[c]) {\n      for (var i = 0; i < 313; i += c) ic[i] = c;\n      h[pc] = (mp(c, .5) * mw) | 0;\n      k[pc++] = (mp(c, 1/3) * mw) | 0;\n    }\n  }\n  ascii += \"\u0080\";\n  while (ascii.length % 64 - 56) ascii += \"\u0000\";\n  for (i = 0; i < ascii.length; i++) {\n    var j = ascii.charCodeAt(i);\n    w[i >> 2] |= j << ((3 - i) % 4) * 8;\n  }\n  w[w.length] = (abl / mw) | 0;\n  w[w.length] = abl;\n  for (j = 0; j < w.length;) {\n    var ww = w.slice(j, j += 16), oh = h;\n    h = h.slice(0, 8);\n    for (i = 0; i < 64; i++) {\n      var w15 = ww[i-15], w2 = ww[i-2], a = h[0], e = h[4];\n      var t1 = h[7] + (rr(e,6) ^ rr(e,11) ^ rr(e,25)) + ((e & h[5]) ^ (~e & h[6])) + k[i]\n        + (ww[i] = i < 16 ? ww[i] : (ww[i-16] + (rr(w15,7) ^ rr(w15,18) ^ (w15>>>3)) + ww[i-7] + (rr(w2,17) ^ rr(w2,19) ^ (w2>>>10))) | 0);\n      var t2 = (rr(a,2) ^ rr(a,13) ^ rr(a,22)) + ((a & h[1]) ^ (a & h[2]) ^ (h[1] & h[2]));\n      h = [(t1 + t2) | 0].concat(h);\n      h[4] = (h[4] + t1) | 0;\n    }\n    for (i = 0; i < 8; i++) h[i] = (h[i] + oh[i]) | 0;\n  }\n  for (i = 0; i < 8; i++)\n    for (j = 3; j + 1; j--)\n      r += ((h[i] >> (j * 8) & 255) < 16 ? \"0\" : \"\") + (h[i] >> (j * 8) & 255).toString(16);\n  return r;\n}\n\nconst creds = $(\"Fetch Kite Credentials\").first().json;\nconst token = $(\"Check Callback Params\").first().json.request_token;\nconst apiKey = creds.api_key || \"\";\nconst apiSecret = creds.api_secret || \"\";\nconst checksum = sha256(apiKey + token + apiSecret);\n\nreturn [{ json: {\n  api_key: apiKey,\n  request_token: token,\n  checksum: checksum,\n  user_id: creds.user_id,\n  telegram_user_id: creds.telegram_user_id,\n  chat_id: creds.chat_id\n}}];"
                }
            },
            {
                "id": "kite-exchange-cb",
                "name": "Exchange Token",
                "type": "n8n-nodes-base.httpRequest",
                "typeVersion": 4.2,
                "position": [
                    1340,
                    200
                ],
                "parameters": {
                    "method": "POST",
                    "url": "https://api.kite.trade/session/token",
                    "sendHeaders": true,
                    "headerParameters": {
                        "parameters": [
                            {
                                "name": "Content-Type",
                                "value": "application/x-www-form-urlencoded"
                            },
                            {
                                "name": "X-Kite-Version",
                                "value": "3"
                            }
                        ]
                    },
                    "sendBody": true,
                    "contentType": "form-urlencoded",
                    "bodyParameters": {
                        "parameters": [
                            {
                                "name": "api_key",
                                "value": "={{ $json.api_key }}"
                            },
                            {
                                "name": "request_token",
                                "value": "={{ $json.request_token }}"
                            },
                            {
                                "name": "checksum",
                                "value": "={{ $json.checksum }}"
                            }
                        ]
                    },
                    "options": {
                        "response": {
                            "response": {
                                "neverError": true
                            }
                        }
                    }
                },
                "onError": "continueRegularOutput"
            },
            {
                "id": "store-token-cb",
                "name": "Store Token",
                "type": "n8n-nodes-base.postgres",
                "typeVersion": 2.5,
                "position": [
                    2000,
                    120
                ],
                "credentials": {
                    "postgres": {
                        "id": "6dSdIQ2xAFPzyEwe",
                        "name": "Postgres account"
                    }
                },
                "parameters": {
                    "operation": "executeQuery",
                    "query": "INSERT INTO kite_sessions (user_id, access_token_encrypted, token_expiry, last_login_at)\nVALUES ($1, $2, NOW() + INTERVAL '18 hours', NOW())\nON CONFLICT (user_id) DO UPDATE SET\n  access_token_encrypted = EXCLUDED.access_token_encrypted,\n  token_expiry = EXCLUDED.token_expiry,\n  last_login_at = NOW()\nRETURNING user_id, token_expiry",
                    "additionalFields": {
                        "queryParams": "={{ [$('Compute Checksum').first().json.user_id, $input.first().json.data?.access_token || $input.first().json.access_token || ''] }}"
                    },
                    "options": {
                        "queryReplacement": "={{ [$json.user_id, $json.access_token] }}"
                    }
                }
            },
            {
                "id": "notify-user-cb",
                "name": "Notify User",
                "type": "n8n-nodes-base.httpRequest",
                "typeVersion": 4.2,
                "position": [
                    2220,
                    120
                ],
                "parameters": {
                    "method": "POST",
                    "url": "https://api.telegram.org/bot8253200545:AAGzywflmgSpKU8aY457FmBGUv0e_ojT6aI/sendMessage",
                    "sendBody": true,
                    "specifyBody": "json",
                    "jsonBody": "={{ JSON.stringify({ chat_id: $('Compute Checksum').first().json.chat_id, text: \"\\u2705 *Kite Login Successful!*\\n\\nYour Zerodha session is now active. Live prices enabled!\\n\\nSend /briefing for today's market briefing or /portfolio to see your holdings.\", parse_mode: \"Markdown\", reply_markup: JSON.stringify({ inline_keyboard: [[{ text: \"\\ud83d\\udcca Portfolio\", callback_data: \"portfolio\" }, { text: \"\\ud83d\\udcf0 Briefing\", callback_data: \"briefing\" }]] }) }) }}",
                    "options": {
                        "response": {
                            "response": {
                                "neverError": true
                            }
                        }
                    }
                }
            },
            {
                "id": "success-response",
                "name": "Login Success Page",
                "type": "n8n-nodes-base.respondToWebhook",
                "typeVersion": 1.1,
                "position": [
                    2440,
                    120
                ],
                "parameters": {
                    "respondWith": "text",
                    "responseBody": "<!DOCTYPE html><html><head><meta charset=\"utf-8\"><title>StockPulse - Login Successful</title><meta name=\"viewport\" content=\"width=device-width,initial-scale=1\"><style>body{font-family:-apple-system,sans-serif;display:flex;align-items:center;justify-content:center;min-height:100vh;margin:0;background:#0a0f1a;color:#fff}.card{text-align:center;padding:40px;background:#111827;border-radius:16px;max-width:400px}.icon{font-size:64px;margin-bottom:16px}h1{color:#10b981;margin:0 0 8px}p{color:#9ca3af;margin:8px 0}.btn{display:inline-block;margin-top:24px;padding:12px 24px;background:#10b981;color:#fff;border-radius:8px;text-decoration:none;font-weight:600}</style></head><body><div class=\"card\"><div class=\"icon\">&#x2705;</div><h1>Login Successful!</h1><p>Your Kite session is now active.</p><p>Return to Telegram to continue.</p><a class=\"btn\" href=\"https://t.me/\">Open Telegram</a></div></body></html>",
                    "options": {
                        "responseCode": 200
                    }
                }
            },
            {
                "id": "error-response",
                "name": "Login Error Page",
                "type": "n8n-nodes-base.respondToWebhook",
                "typeVersion": 1.1,
                "position": [
                    2000,
                    320
                ],
                "parameters": {
                    "respondWith": "text",
                    "responseBody": "<!DOCTYPE html><html><head><meta charset=\"utf-8\"><title>StockPulse - Login Failed</title><meta name=\"viewport\" content=\"width=device-width,initial-scale=1\"><style>body{font-family:-apple-system,sans-serif;display:flex;align-items:center;justify-content:center;min-height:100vh;margin:0;background:#0a0f1a;color:#fff}.card{text-align:center;padding:40px;background:#111827;border-radius:16px;max-width:400px}.icon{font-size:64px;margin-bottom:16px}h1{color:#ef4444;margin:0 0 8px}p{color:#9ca3af;margin:8px 0}.btn{display:inline-block;margin-top:24px;padding:12px 24px;background:#10b981;color:#fff;border-radius:8px;text-decoration:none;font-weight:600}</style></head><body><div class=\"card\"><div class=\"icon\">&#x274c;</div><h1>Login Failed</h1><p>The login link may have expired.</p><p>Return to Telegram and try again.</p><a class=\"btn\" href=\"https://t.me/\">Open Telegram</a></div></body></html>",
                    "options": {
                        "responseCode": 400
                    }
                }
            },
            {
                "id": "check-exchange-result",
                "name": "Check Exchange Result",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    1560,
                    200
                ],
                "parameters": {
                    "jsCode": "const resp = $input.first().json;\nconst ctx = $(\"Compute Checksum\").first().json;\n\nif (resp.data && resp.data.access_token) {\n  return [{ json: {\n    success: true,\n    access_token: resp.data.access_token,\n    user_id: ctx.user_id,\n    chat_id: ctx.chat_id,\n    telegram_user_id: ctx.telegram_user_id\n  }}];\n}\n\nconst errorMsg = resp.message || resp.error_type || 'Token exchange failed. Please login again.';\nreturn [{ json: {\n  success: false,\n  error: errorMsg,\n  chat_id: ctx.chat_id\n}}];"
                }
            },
            {
                "id": "exchange-success-check",
                "name": "Exchange OK?",
                "type": "n8n-nodes-base.if",
                "typeVersion": 2,
                "position": [
                    1780,
                    200
                ],
                "parameters": {
                    "conditions": {
                        "options": {
                            "caseSensitive": true,
                            "leftValue": "",
                            "typeValidation": "strict"
                        },
                        "conditions": [
                            {
                                "id": "check-success",
                                "leftValue": "={{ $json.success }}",
                                "rightValue": true,
                                "operator": {
                                    "type": "boolean",
                                    "operation": "equals"
                                }
                            }
                        ],
                        "combinator": "and"
                    }
                }
            }
        ],
        "connections": {
            "Kite OAuth Callback": {
                "main": [
                    [
                        {
                            "node": "Check Callback Params",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Check Callback Params": {
                "main": [
                    [
                        {
                            "node": "Token Valid?",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Token Valid?": {
                "main": [
                    [
                        {
                            "node": "Fetch Kite Credentials",
                            "type": "main",
                            "index": 0
                        }
                    ],
                    [
                        {
                            "node": "Login Error Page",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Fetch Kite Credentials": {
                "main": [
                    [
                        {
                            "node": "Compute Checksum",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Compute Checksum": {
                "main": [
                    [
                        {
                            "node": "Exchange Token",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Exchange Token": {
                "main": [
                    [
                        {
                            "node": "Check Exchange Result",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Store Token": {
                "main": [
                    [
                        {
                            "node": "Notify User",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Notify User": {
                "main": [
                    [
                        {
                            "node": "Login Success Page",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Check Exchange Result": {
                "main": [
                    [
                        {
                            "node": "Exchange OK?",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Exchange OK?": {
                "main": [
                    [
                        {
                            "node": "Store Token",
                            "type": "main",
                            "index": 0
                        }
                    ],
                    [
                        {
                            "node": "Login Error Page",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            }
        },
        "authors": "Vipindas S",
        "name": null,
        "description": null,
        "autosaved": false,
        "workflowPublishHistory": [
            {
                "createdAt": "2026-02-20T04:40:26.769Z",
                "id": 243,
                "workflowId": "hTJTWtMihWIjGZfi",
                "versionId": "f8e27a46-b961-4269-8f35-8d54b396f6d2",
                "event": "deactivated",
                "userId": "88dcc745-8de1-40a7-a5c3-0cbc3021a882"
            },
            {
                "createdAt": "2026-02-20T04:40:26.804Z",
                "id": 244,
                "workflowId": "hTJTWtMihWIjGZfi",
                "versionId": "f8e27a46-b961-4269-8f35-8d54b396f6d2",
                "event": "activated",
                "userId": "88dcc745-8de1-40a7-a5c3-0cbc3021a882"
            }
        ]
    }
}
