n8n-workflows/wf0-error-handler.json
{"updatedAt":"2026-02-20T02:27:14.501Z","createdAt":"2026-02-20T02:27:14.501Z","id":"qqOLliH0fuL8mq9x","name":"WF0 — Error Handler & Monitor","description":null,"active":true,"isArchived":false,"nodes":[{"id":"error-trigger","name":"Execution Error","type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[240,300],"parameters":{}},{"id":"extract-error-ctx","name":"Extract Error Context","type":"n8n-nodes-base.code","typeVersion":2,"position":[460,300],"parameters":{"mode":"runOnceForAllItems","jsCode":"const item = $input.first().json;\nconst execution = item.execution || {};\nconst workflow = item.workflow || {};\nconst error = execution.error || {};\n\n// Try to find the chat_id from the failed execution's last input data\n// n8n Error Trigger provides inputData from the failed execution\nlet chatId = null;\nlet userId = null;\nlet intentText = '';\n\n// Walk through the execution data to find user context\nconst lastNodeData = execution.lastNodeExecuted;\n\n// The inputData may contain Telegram context\nif (execution.data && execution.data.startData) {\n  const sd = execution.data.startData;\n  if (sd.destinationNode) intentText = sd.destinationNode;\n}\n\n// Try to extract from execution metadata\nconst runData = (execution.data || {}).resultData || {};\nconst runNodes = (runData.runData || {});\n\n// Walk all nodes to find chat_id\nfor (const [nodeName, nodeRuns] of Object.entries(runNodes)) {\n  for (const run of nodeRuns) {\n    const mainData = (run.data || {}).main || [];\n    for (const output of mainData) {\n      for (const item of (output || [])) {\n        const j = item.json || {};\n        if (j.chat_id && !chatId) chatId = j.chat_id;\n        if (j.user_id && !userId) userId = j.user_id;\n        if (j.message_text && !intentText) intentText = j.message_text;\n        // Also check nested\n        if (j.telegram_user_id && !chatId) chatId = j.telegram_user_id;\n      }\n    }\n  }\n}\n\nconst errorMsg = error.message || 'Unknown error';\nconst workflowName = workflow.name || 'StockPulse';\nconst execId = execution.id || 'unknown';\n\nreturn [{\n  json: {\n    chat_id: chatId,\n    user_id: userId,\n    error_message: errorMsg,\n    workflow_name: workflowName,\n    execution_id: execId,\n    user_message: intentText,\n    has_user: !!chatId\n  }\n}];"}},{"id":"has-chat-id","name":"Has User Chat ID?","type":"n8n-nodes-base.if","typeVersion":2,"position":[680,300],"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"condition-1","leftValue":"={{ $json.has_user }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"}}},{"id":"send-error-user","name":"Send Error to User","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[900,200],"parameters":{"method":"POST","url":"https://api.telegram.org/bot8253200545:AAGzywflmgSpKU8aY457FmBGUv0e_ojT6aI/sendMessage","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ chat_id: $json.chat_id, text: \"⚠️ *Something went wrong*\\n\\nCouldn't complete your request. Please try again.\\n\\nIf this keeps happening, send /status to check system health.\", parse_mode: \"Markdown\", reply_markup: JSON.stringify({ inline_keyboard: [[{ text: \"🔄 Try Again\", callback_data: $json.user_message || \"help\" }, { text: \"📊 Status\", callback_data: \"status\" }]] }) }) }}","options":{}},"onError":"continueRegularOutput"},{"id":"log-only","name":"Log Only","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[900,420],"parameters":{}},{"id":"log-error-db","name":"Log Error to DB","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[1120,200],"parameters":{"operation":"executeQuery","query":"INSERT INTO audit_log (user_id, action, details, created_at)\nVALUES (\n  $1,\n  'system_error',\n  $2::jsonb,\n  NOW()\n)","additionalFields":{"queryParams":"={{ [$json.user_id, JSON.stringify({ workflow: $json.workflow_name, execution_id: $json.execution_id, error: $json.error_message, user_message: $json.user_message })] }}"}},"credentials":{"postgres":{"id":"6dSdIQ2xAFPzyEwe","name":"Postgres account"}},"onError":"continueRegularOutput"}],"connections":{"Execution Error":{"main":[[{"node":"Extract Error Context","type":"main","index":0}]]},"Extract Error Context":{"main":[[{"node":"Has User Chat ID?","type":"main","index":0}]]},"Has User Chat ID?":{"main":[[{"node":"Send Error to User","type":"main","index":0}],[{"node":"Log Only","type":"main","index":0}]]},"Send Error to User":{"main":[[{"node":"Log Error to DB","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"cd31e829-a8c3-4608-8adc-98ff3dba05b0","activeVersionId":"cd31e829-a8c3-4608-8adc-98ff3dba05b0","versionCounter":3,"triggerCount":0,"shared":[{"updatedAt":"2026-02-20T02:27:14.501Z","createdAt":"2026-02-20T02:27:14.501Z","role":"workflow:owner","workflowId":"qqOLliH0fuL8mq9x","projectId":"qJqZAaC2LCOkdDc2","project":{"updatedAt":"2026-02-17T17:30:11.422Z","createdAt":"2026-02-17T17:24:57.957Z","id":"qJqZAaC2LCOkdDc2","name":"Vipindas S <mail2vdas@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"88dcc745-8de1-40a7-a5c3-0cbc3021a882"}}],"tags":[],"activeVersion":{"updatedAt":"2026-02-20T02:27:14.510Z","createdAt":"2026-02-20T02:27:14.510Z","versionId":"cd31e829-a8c3-4608-8adc-98ff3dba05b0","workflowId":"qqOLliH0fuL8mq9x","nodes":[{"id":"error-trigger","name":"Execution Error","type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[240,300],"parameters":{}},{"id":"extract-error-ctx","name":"Extract Error Context","type":"n8n-nodes-base.code","typeVersion":2,"position":[460,300],"parameters":{"mode":"runOnceForAllItems","jsCode":"const item = $input.first().json;\nconst execution = item.execution || {};\nconst workflow = item.workflow || {};\nconst error = execution.error || {};\n\n// Try to find the chat_id from the failed execution's last input data\n// n8n Error Trigger provides inputData from the failed execution\nlet chatId = null;\nlet userId = null;\nlet intentText = '';\n\n// Walk through the execution data to find user context\nconst lastNodeData = execution.lastNodeExecuted;\n\n// The inputData may contain Telegram context\nif (execution.data && execution.data.startData) {\n  const sd = execution.data.startData;\n  if (sd.destinationNode) intentText = sd.destinationNode;\n}\n\n// Try to extract from execution metadata\nconst runData = (execution.data || {}).resultData || {};\nconst runNodes = (runData.runData || {});\n\n// Walk all nodes to find chat_id\nfor (const [nodeName, nodeRuns] of Object.entries(runNodes)) {\n  for (const run of nodeRuns) {\n    const mainData = (run.data || {}).main || [];\n    for (const output of mainData) {\n      for (const item of (output || [])) {\n        const j = item.json || {};\n        if (j.chat_id && !chatId) chatId = j.chat_id;\n        if (j.user_id && !userId) userId = j.user_id;\n        if (j.message_text && !intentText) intentText = j.message_text;\n        // Also check nested\n        if (j.telegram_user_id && !chatId) chatId = j.telegram_user_id;\n      }\n    }\n  }\n}\n\nconst errorMsg = error.message || 'Unknown error';\nconst workflowName = workflow.name || 'StockPulse';\nconst execId = execution.id || 'unknown';\n\nreturn [{\n  json: {\n    chat_id: chatId,\n    user_id: userId,\n    error_message: errorMsg,\n    workflow_name: workflowName,\n    execution_id: execId,\n    user_message: intentText,\n    has_user: !!chatId\n  }\n}];"}},{"id":"has-chat-id","name":"Has User Chat ID?","type":"n8n-nodes-base.if","typeVersion":2,"position":[680,300],"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"condition-1","leftValue":"={{ $json.has_user }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"}}},{"id":"send-error-user","name":"Send Error to User","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[900,200],"parameters":{"method":"POST","url":"https://api.telegram.org/bot8253200545:AAGzywflmgSpKU8aY457FmBGUv0e_ojT6aI/sendMessage","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ chat_id: $json.chat_id, text: \"⚠️ *Something went wrong*\\n\\nCouldn't complete your request. Please try again.\\n\\nIf this keeps happening, send /status to check system health.\", parse_mode: \"Markdown\", reply_markup: JSON.stringify({ inline_keyboard: [[{ text: \"🔄 Try Again\", callback_data: $json.user_message || \"help\" }, { text: \"📊 Status\", callback_data: \"status\" }]] }) }) }}","options":{}},"onError":"continueRegularOutput"},{"id":"log-only","name":"Log Only","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[900,420],"parameters":{}},{"id":"log-error-db","name":"Log Error to DB","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[1120,200],"parameters":{"operation":"executeQuery","query":"INSERT INTO audit_log (user_id, action, details, created_at)\nVALUES (\n  $1,\n  'system_error',\n  $2::jsonb,\n  NOW()\n)","additionalFields":{"queryParams":"={{ [$json.user_id, JSON.stringify({ workflow: $json.workflow_name, execution_id: $json.execution_id, error: $json.error_message, user_message: $json.user_message })] }}"}},"credentials":{"postgres":{"id":"6dSdIQ2xAFPzyEwe","name":"Postgres account"}},"onError":"continueRegularOutput"}],"connections":{"Execution Error":{"main":[[{"node":"Extract Error Context","type":"main","index":0}]]},"Extract Error Context":{"main":[[{"node":"Has User Chat ID?","type":"main","index":0}]]},"Has User Chat ID?":{"main":[[{"node":"Send Error to User","type":"main","index":0}],[{"node":"Log Only","type":"main","index":0}]]},"Send Error to User":{"main":[[{"node":"Log Error to DB","type":"main","index":0}]]}},"authors":"Vipindas S","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-02-20T02:27:37.391Z","id":218,"workflowId":"qqOLliH0fuL8mq9x","versionId":"cd31e829-a8c3-4608-8adc-98ff3dba05b0","event":"activated","userId":"88dcc745-8de1-40a7-a5c3-0cbc3021a882"}]}}