n8n-workflows/wf1-message-handler.json
{
  "updatedAt": "2026-02-18T14:22:25.823Z",
  "createdAt": "2026-02-18T07:36:36.580Z",
  "id": "kGn3KwIfHldiwuGW",
  "name": "WF1 \u2014 Message Handler",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message",
          "callback_query"
        ]
      },
      "id": "telegram-trigger",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        220,
        300
      ],
      "webhookId": "stockpulse-main",
      "credentials": {
        "telegramApi": {
          "id": "oh2jj2bRbyNVQvgB",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extract message data from Telegram\nconst update = $input.first().json;\nlet userId, messageText, chatId, messageType, fileInfo, callbackData, messageId;\n\nif (update.callback_query) {\n  // Inline button pressed\n  userId = update.callback_query.from.id;\n  chatId = update.callback_query.message.chat.id;\n  callbackData = update.callback_query.data;\n  messageId = update.callback_query.message.message_id;\n  messageText = callbackData; // Treat callback as message\n  messageType = 'callback';\n} else if (update.message) {\n  userId = update.message.from.id;\n  chatId = update.message.chat.id;\n  messageId = update.message.message_id;\n  messageType = 'text';\n  \n  if (update.message.document) {\n    messageType = 'file';\n    fileInfo = {\n      file_id: update.message.document.file_id,\n      file_name: update.message.document.file_name,\n      mime_type: update.message.document.mime_type,\n      file_size: update.message.document.file_size\n    };\n    messageText = update.message.caption || 'file_upload';\n  } else {\n    messageText = update.message.text || '';\n  }\n} else {\n  return [];\n}\n\nreturn [{\n  json: {\n    telegram_user_id: userId,\n    chat_id: chatId,\n    message_text: messageText,\n    message_type: messageType,\n    message_id: messageId,\n    file_info: fileInfo || null,\n    callback_data: callbackData || null,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "extract-message",
      "name": "Extract Message Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, telegram_user_id, display_name, is_active, is_kite_provider, is_admin, settings, alerts_chat_id, commands_chat_id, private_chat_id FROM users WHERE telegram_user_id = $1 AND is_active = true LIMIT 1",
        "options": {
          "queryReplacement": "={{ [$json.telegram_user_id] }}"
        }
      },
      "id": "check-auth",
      "name": "Check User Auth",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        660,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "6dSdIQ2xAFPzyEwe",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "auth-check",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "exists",
                "operation": "exists"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "is-authorized",
      "name": "Is Authorized?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        880,
        300
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Extract Message Data').item.json.chat_id }}",
        "text": "\u26d4 Unauthorized. You are not registered to use StockPulse.\n\nContact the admin to get access.",
        "additionalFields": {
          "parse_mode": "Markdown",
          "appendAttribution": false
        }
      },
      "id": "reject-unauthorized",
      "name": "Reject Unauthorized",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1100,
        500
      ],
      "credentials": {
        "telegramApi": {
          "id": "oh2jj2bRbyNVQvgB",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Rate limit check: max 30 messages per hour per user\nconst userId = $('Check User Auth').item.json.id;\nconst messageData = $('Extract Message Data').item.json;\n\n// Store user context for downstream nodes\nreturn [{\n  json: {\n    user_id: userId,\n    telegram_user_id: messageData.telegram_user_id,\n    chat_id: messageData.chat_id,\n    message_text: messageData.message_text,\n    message_type: messageData.message_type,\n    message_id: messageData.message_id,\n    file_info: messageData.file_info,\n    callback_data: messageData.callback_data,\n    user_settings: $('Check User Auth').item.json.settings,\n    is_kite_provider: $('Check User Auth').item.json.is_kite_provider,\n    alerts_chat_id: $('Check User Auth').item.json.alerts_chat_id,\n    commands_chat_id: $('Check User Auth').item.json.commands_chat_id,\n    private_chat_id: $('Check User Auth').item.json.private_chat_id,\n    display_name: $('Check User Auth').item.json.display_name\n  }\n}];"
      },
      "id": "prepare-context",
      "name": "Prepare User Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "is-file",
              "leftValue": "={{ $json.message_type }}",
              "rightValue": "file",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "is-file-upload",
      "name": "Is File Upload?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1320,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'claude-sonnet-4-20250514', max_tokens: 500, system: 'You are a stock trading message parser for Indian markets (NSE/BSE). Extract intent and data from user messages. Respond ONLY in valid JSON format with no other text:\\n{\\n  \"intent\": \"buy|sell|alert_set|alert_cancel|portfolio|predict|briefing|alerts_list|sync|login|settings|help|clarify|unknown\",\\n  \"symbol\": \"STOCK_SYMBOL or null\",\\n  \"quantity\": \"number or null\",\\n  \"price\": \"number or null\",\\n  \"lower_bound\": \"number or null\",\\n  \"upper_bound\": \"number or null\",\\n  \"request_token\": \"string or null\",\\n  \"raw_query\": \"original message if intent is predict or unknown\"\\n}\\n\\nMap common names: Reliance\u2192RELIANCE, Infosys\u2192INFY, TCS\u2192TCS, HDFC Bank\u2192HDFCBANK, Tata Motors\u2192TATAMOTORS, Wipro\u2192WIPRO, ITC\u2192ITC, SBI\u2192SBIN, Axis Bank\u2192AXISBANK, Kotak\u2192KOTAKBANK, Bajaj Finance\u2192BAJFINANCE, HCL Tech\u2192HCLTECH, Asian Paints\u2192ASIANPAINT, Maruti\u2192MARUTI, Sun Pharma\u2192SUNPHARMA, Titan\u2192TITAN, L&T\u2192LT, Adani\u2192ADANIENT, Bharti Airtel\u2192BHARTIARTL.\\nDefault exchange: NSE. If date not mentioned, use today. If price not mentioned, set null.\\nFor \"alert\" or \"set alert\", extract symbol + bounds. \"alert reliance 2800-2950\" means lower=2800, upper=2950.\\nFor \"portfolio\"/\"holdings\"/\"what do i own\", intent=portfolio.\\nFor \"when will X hit Y\", intent=predict with symbol and upper_bound.\\nFor \"briefing\"/\"morning update\"/\"market update\", intent=briefing.\\nFor callback data like \"sell_RELIANCE_market\", parse as intent=sell, symbol=RELIANCE.\\nFor \"login ABC123\", intent=login, request_token=ABC123. For bare \"login\" without a token, intent=login, request_token=null.', messages: [{ role: 'user', content: $json.message_text }] }) }}"
      },
      "id": "claude-parse-intent",
      "name": "Claude: Parse Intent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1540,
        100
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "Idkjo6pmv2QE4urQ",
          "name": "Anthropic Header Auth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse Claude's response into structured data\nconst response = $input.first().json;\nlet parsed;\n\ntry {\n  const text = response.content[0].text;\n  // Clean up: remove markdown code fences if present\n  const clean = text.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n  parsed = JSON.parse(clean);\n} catch (e) {\n  parsed = {\n    intent: 'unknown',\n    raw_query: $('Prepare User Context').item.json.message_text,\n    parse_error: e.message\n  };\n}\n\n// Merge with user context\nconst ctx = $('Prepare User Context').item.json;\n\nreturn [{\n  json: {\n    ...ctx,\n    intent: parsed.intent,\n    symbol: parsed.symbol ? parsed.symbol.toUpperCase().replace(/[^A-Z0-9&-]/g, '') : null,\n    quantity: parsed.quantity ? parseInt(parsed.quantity) : null,\n    price: parsed.price ? parseFloat(parsed.price) : null,\n    lower_bound: parsed.lower_bound ? parseFloat(parsed.lower_bound) : null,\n    upper_bound: parsed.upper_bound ? parseFloat(parsed.upper_bound) : null,\n    request_token: parsed.request_token || null,\n    raw_query: parsed.raw_query || null\n  }\n}];"
      },
      "id": "parse-claude-response",
      "name": "Parse Claude Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        100
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO conversation_context (user_id, message, role, parsed_intent, telegram_message_id, chat_id) VALUES ($1, $2, 'user', $3, $4, $5)",
        "options": {
          "queryReplacement": "={{ [$json.user_id, $json.message_text, JSON.stringify({intent: $json.intent, symbol: $json.symbol}), $json.message_id, $json.chat_id] }}"
        }
      },
      "id": "save-context",
      "name": "Save to Context",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1980,
        100
      ],
      "credentials": {
        "postgres": {
          "id": "6dSdIQ2xAFPzyEwe",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "rule-buy",
                    "leftValue": "={{ $(\"Parse Claude Response\").item.json.intent }}",
                    "rightValue": "buy",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "rule-sell",
                    "leftValue": "={{ $(\"Parse Claude Response\").item.json.intent }}",
                    "rightValue": "sell",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "rule-alert-set",
                    "leftValue": "={{ $(\"Parse Claude Response\").item.json.intent }}",
                    "rightValue": "alert_set",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "rule-portfolio",
                    "leftValue": "={{ $(\"Parse Claude Response\").item.json.intent }}",
                    "rightValue": "portfolio",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "rule-predict",
                    "leftValue": "={{ $(\"Parse Claude Response\").item.json.intent }}",
                    "rightValue": "predict",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "rule-briefing",
                    "leftValue": "={{ $(\"Parse Claude Response\").item.json.intent }}",
                    "rightValue": "briefing",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "rule-alerts-list",
                    "leftValue": "={{ $(\"Parse Claude Response\").item.json.intent }}",
                    "rightValue": "alerts_list",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "rule-alert-cancel",
                    "leftValue": "={{ $(\"Parse Claude Response\").item.json.intent }}",
                    "rightValue": "alert_cancel",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "rule-login",
                    "leftValue": "={{ $(\"Parse Claude Response\").item.json.intent }}",
                    "rightValue": "login",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "rule-sync",
                    "leftValue": "={{ $(\"Parse Claude Response\").item.json.intent }}",
                    "rightValue": "sync",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "rule-help",
                    "leftValue": "={{ $(\"Parse Claude Response\").item.json.intent }}",
                    "rightValue": "help",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "route-by-intent",
      "name": "Route by Intent",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        2200,
        100
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO trades (user_id, symbol, exchange, quantity, price, trade_type, source) VALUES ($1, $2, 'NSE', $3, $4, 'BUY', 'telegram') RETURNING id, symbol, quantity, price",
        "options": {
          "queryReplacement": "={{ [$(\"Parse Claude Response\").item.json.user_id, $(\"Parse Claude Response\").item.json.symbol, $(\"Parse Claude Response\").item.json.quantity, $(\"Parse Claude Response\").item.json.price] }}"
        }
      },
      "id": "handle-buy",
      "name": "Handle BUY",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2460,
        -200
      ],
      "credentials": {
        "postgres": {
          "id": "6dSdIQ2xAFPzyEwe",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Prepare User Context').item.json.chat_id }}",
        "text": "={{ '\u2705 *BUY Logged*\\n\\n' + '\ud83d\udcca ' + $('Parse Claude Response').item.json.symbol + '\\n' + '   Qty: ' + $('Parse Claude Response').item.json.quantity + ' shares\\n' + '   Price: \u20b9' + $('Parse Claude Response').item.json.price + '\\n' + '   Total: \u20b9' + ($('Parse Claude Response').item.json.quantity * $('Parse Claude Response').item.json.price).toLocaleString() + '\\n\\n' + '\ud83d\udca1 Set a price alert: `alert ' + $('Parse Claude Response').item.json.symbol + ' LOWER-UPPER`' }}",
        "additionalFields": {
          "parse_mode": "Markdown",
          "appendAttribution": false
        }
      },
      "id": "confirm-buy",
      "name": "Confirm BUY",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2700,
        -200
      ],
      "credentials": {
        "telegramApi": {
          "id": "oh2jj2bRbyNVQvgB",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO trades (user_id, symbol, exchange, quantity, price, trade_type, source) VALUES ($1, $2, 'NSE', $3, $4, 'SELL', 'telegram') RETURNING id, symbol, quantity, price",
        "options": {
          "queryReplacement": "={{ [$(\"Parse Claude Response\").item.json.user_id, $(\"Parse Claude Response\").item.json.symbol, $(\"Parse Claude Response\").item.json.quantity, $(\"Parse Claude Response\").item.json.price] }}"
        }
      },
      "id": "handle-sell",
      "name": "Handle SELL",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2460,
        -50
      ],
      "credentials": {
        "postgres": {
          "id": "6dSdIQ2xAFPzyEwe",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO alerts (user_id, symbol, exchange, lower_bound, upper_bound) VALUES ($1, $2, 'NSE', $3, $4) RETURNING id, symbol, lower_bound, upper_bound",
        "options": {
          "queryReplacement": "={{ [$(\"Parse Claude Response\").item.json.user_id, $(\"Parse Claude Response\").item.json.symbol, $(\"Parse Claude Response\").item.json.lower_bound, $(\"Parse Claude Response\").item.json.upper_bound] }}"
        }
      },
      "id": "handle-alert-set",
      "name": "Handle ALERT SET",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2460,
        100
      ],
      "credentials": {
        "postgres": {
          "id": "6dSdIQ2xAFPzyEwe",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT h.symbol, h.net_quantity, h.avg_buy_price, h.total_invested FROM holdings h WHERE h.user_id = $1 ORDER BY h.total_invested DESC",
        "options": {
          "queryReplacement": "={{ [$(\"Parse Claude Response\").item.json.user_id] }}"
        }
      },
      "id": "handle-portfolio",
      "name": "Handle PORTFOLIO",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2460,
        250
      ],
      "credentials": {
        "postgres": {
          "id": "6dSdIQ2xAFPzyEwe",
          "name": "Postgres account"
        }
      },
      "onError": "continueRegularOutput",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Format portfolio from holdings data\nconst holdings = $input.all().map(i => i.json);\n\nif (holdings.length === 0 || !holdings[0].symbol) {\n  return [{ json: { message: '\ud83d\udced *No holdings found*\\n\\nStart by logging a trade:\\n`buy RELIANCE 10 at 2850`' } }];\n}\n\nlet msg = '\ud83d\udcca *Your Portfolio*\\n\\n';\nlet totalInvested = 0;\n\nfor (const h of holdings) {\n  const invested = h.net_quantity * h.avg_buy_price;\n  totalInvested += invested;\n  msg += '\u26aa *' + h.symbol + '*\\n';\n  msg += '   ' + h.net_quantity + ' x \u20b9' + h.avg_buy_price + ' = \u20b9' + Math.round(invested).toLocaleString() + '\\n\\n';\n}\n\nmsg += '\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\\n';\nmsg += '\ud83d\udcb0 *Total Invested: \u20b9' + Math.round(totalInvested).toLocaleString() + '*\\n';\nmsg += '\\n_Live prices update with morning briefing_';\n\nreturn [{ json: { message: msg } }];"
      },
      "id": "format-portfolio",
      "name": "Format Portfolio",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2700,
        250
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Prepare User Context').item.json.chat_id }}",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "parse_mode": "Markdown",
          "appendAttribution": false
        }
      },
      "id": "send-portfolio",
      "name": "Send Portfolio",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2920,
        250
      ],
      "credentials": {
        "telegramApi": {
          "id": "oh2jj2bRbyNVQvgB",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Prepare User Context').item.json.chat_id }}",
        "text": "\ud83e\udd16 *StockPulse Commands*\n\n\ud83d\udcc8 *Trading*\n`buy RELIANCE 10 at 2850`\n`sell INFY 5 at 1500`\n\n\ud83d\udd14 *Alerts*\n`alert RELIANCE 2800-2950`\n`alerts` \u2014 view active alerts\n`cancel alert RELIANCE`\n\n\ud83d\udcca *Portfolio*\n`portfolio` \u2014 view holdings + P&L\n`sync` \u2014 sync from Kite (User 1 only)\n\n\ud83d\udd2e *Analysis*\n`predict RELIANCE 3000`\n`when will TCS hit 4000`\n`briefing` \u2014 morning analysis\n\n\ud83d\udcce *File Upload*\nSend a CSV file to bulk import trades\n\n\u2699\ufe0f *Settings*\n`login <token>` \u2014 connect Kite\n`settings` \u2014 view preferences",
        "additionalFields": {
          "parse_mode": "Markdown",
          "appendAttribution": false
        }
      },
      "id": "handle-help",
      "name": "Handle HELP",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2460,
        750
      ],
      "credentials": {
        "telegramApi": {
          "id": "oh2jj2bRbyNVQvgB",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Prepare User Context').item.json.chat_id }}",
        "text": "={{ '\ud83e\udd14 I didn\\'t quite understand that.\\n\\nYou said: \"' + $('Prepare User Context').item.json.message_text + '\"\\n\\nTry one of these:\\n\u2022 `buy RELIANCE 10 at 2850`\\n\u2022 `alert INFY 1400-1500`\\n\u2022 `portfolio`\\n\u2022 `help` for all commands' }}",
        "additionalFields": {
          "parse_mode": "Markdown",
          "appendAttribution": false
        }
      },
      "id": "handle-unknown",
      "name": "Handle Unknown",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2460,
        900
      ],
      "credentials": {
        "telegramApi": {
          "id": "oh2jj2bRbyNVQvgB",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Handle CSV/XLS file upload for trade import\nconst ctx = $('Prepare User Context').item.json;\nconst fileInfo = ctx.file_info;\n\nif (!fileInfo) {\n  return [{ json: { message: '\u274c No file detected. Please send a CSV or XLSX file.' } }];\n}\n\nconst fileName = fileInfo.file_name.toLowerCase();\nif (!fileName.endsWith('.csv') && !fileName.endsWith('.xlsx') && !fileName.endsWith('.xls')) {\n  return [{ json: { message: '\u274c Unsupported file type. Please send a .csv or .xlsx file.\\n\\nCSV format:\\n```\\nSymbol,Type,Quantity,Price,Date\\nRELIANCE,BUY,10,2850,2026-02-15\\n```' } }];\n}\n\n// Return file info for download in next node\nreturn [{\n  json: {\n    file_id: fileInfo.file_id,\n    file_name: fileInfo.file_name,\n    user_id: ctx.user_id,\n    chat_id: ctx.chat_id\n  }\n}];"
      },
      "id": "handle-file-upload",
      "name": "Handle File Upload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1540,
        350
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT access_token_encrypted, token_expiry > NOW() as is_valid FROM kite_sessions WHERE user_id = (SELECT id FROM users WHERE is_kite_provider = true LIMIT 1) LIMIT 1"
      },
      "id": "handle-predict",
      "name": "Get Quote Token",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2460,
        400
      ],
      "credentials": {
        "postgres": {
          "id": "6dSdIQ2xAFPzyEwe",
          "name": "Postgres account"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "chatId": "={{ $(\"Parse Claude Response\").item.json.chat_id }}",
        "text": "\ud83d\udccb *Morning Briefing*\n\nThe morning briefing is sent automatically at *8:30 AM* (IST) every trading day.\n\nIt includes:\n\u2022 Global market cues (SGX Nifty, US markets)\n\u2022 FII/DII activity\n\u2022 Technical analysis for your stocks\n\u2022 Options data & sentiment\n\u2022 Top 5 stocks by attention score\n\nIf you missed today's briefing, it will arrive tomorrow morning.",
        "additionalFields": {
          "parse_mode": "Markdown",
          "appendAttribution": false
        }
      },
      "id": "handle-briefing",
      "name": "Handle BRIEFING",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2460,
        500
      ],
      "credentials": {
        "telegramApi": {
          "id": "oh2jj2bRbyNVQvgB",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, symbol, lower_bound, upper_bound, status, created_at FROM alerts WHERE user_id = $1 AND status IN ('active', 'cooldown') ORDER BY created_at DESC LIMIT 20",
        "options": {
          "queryReplacement": "={{ [$(\"Parse Claude Response\").item.json.user_id] }}"
        }
      },
      "id": "fetch-alerts-list",
      "name": "Fetch Active Alerts",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2460,
        600
      ],
      "credentials": {
        "postgres": {
          "id": "6dSdIQ2xAFPzyEwe",
          "name": "Postgres account"
        }
      },
      "onError": "continueRegularOutput",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const alerts = $input.all()\n  .map(i => i.json)\n  .filter(a => a.id !== undefined && a.id !== null);  // filter out empty rows from alwaysOutputData\n\nconst chatId = $(\"Parse Claude Response\").first().json.chat_id;\n\nif (alerts.length === 0) {\n  return [{ json: { chat_id: chatId, message: \"\ud83d\udced *No active alerts*\\n\\nSet one with:\\n`alert RELIANCE 2800-2950`\" } }];\n}\n\nlet msg = \"\ud83d\udd14 *Your Active Alerts*\\n\\n\";\nfor (const a of alerts) {\n  const bounds = [];\n  if (a.lower_bound) bounds.push(\"\u2b07\ufe0f \u20b9\" + a.lower_bound);\n  if (a.upper_bound) bounds.push(\"\u2b06\ufe0f \u20b9\" + a.upper_bound);\n  const status = a.status === \"cooldown\" ? \" _(cooldown)_\" : \"\";\n  msg += \"\u2022 *\" + a.symbol + \"* \u2014 \" + bounds.join(\" / \") + status + \"\\n\";\n}\nmsg += \"\\n_\" + alerts.length + \" alert(s) active_\\n\\nCancel with: `cancel alert SYMBOL`\";\n\nreturn [{ json: { chat_id: chatId, message: msg } }];"
      },
      "id": "format-alerts-list",
      "name": "Format Alerts List",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2700,
        600
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $(\"Parse Claude Response\").item.json.chat_id }}",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "parse_mode": "Markdown",
          "appendAttribution": false
        }
      },
      "id": "send-alerts-list",
      "name": "Send Alerts List",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2920,
        600
      ],
      "credentials": {
        "telegramApi": {
          "id": "oh2jj2bRbyNVQvgB",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const symbol = $(\"Parse Claude Response\").first().json.symbol;\nconst userId = $(\"Parse Claude Response\").first().json.user_id;\nconst chatId = $(\"Parse Claude Response\").first().json.chat_id;\n\nif (!symbol) {\n  return [{ json: { chat_id: chatId, query: null, message: '\u274c Please specify which alert to cancel:\\n`cancel alert RELIANCE`' } }];\n}\n\nreturn [{ json: { chat_id: chatId, user_id: userId, symbol: symbol, query: `UPDATE alerts SET status = 'cancelled' WHERE user_id = ${userId} AND symbol = '${symbol}' AND status = 'active' RETURNING symbol` } }];"
      },
      "id": "prepare-alert-cancel",
      "name": "Prepare Alert Cancel",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2460,
        700
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE alerts SET status = 'cancelled' WHERE user_id = $1 AND symbol = $2 AND status = 'active' RETURNING symbol",
        "options": {
          "queryReplacement": "={{ [$json.user_id, $json.symbol] }}"
        }
      },
      "id": "cancel-alert-db",
      "name": "Cancel Alert in DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2700,
        700
      ],
      "credentials": {
        "postgres": {
          "id": "6dSdIQ2xAFPzyEwe",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Prepare Alert Cancel').first().json.chat_id }}",
        "text": "={{ $input.all().length > 0 ? '\u2705 Alert for *' + $('Prepare Alert Cancel').first().json.symbol + '* cancelled.' : '\u26a0\ufe0f No active alert found for *' + $('Prepare Alert Cancel').first().json.symbol + '*.' }}",
        "additionalFields": {
          "parse_mode": "Markdown",
          "appendAttribution": false
        }
      },
      "id": "confirm-alert-cancel",
      "name": "Confirm Alert Cancel",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2920,
        700
      ],
      "credentials": {
        "telegramApi": {
          "id": "oh2jj2bRbyNVQvgB",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Process login token from user\nconst intent_data = $(\"Parse Claude Response\").first().json;\nconst raw_token = intent_data.request_token || \"\";\nconst ctx = intent_data;\n\n// Handle two formats:\n// 1. \"login api_key:access_token\" - direct access token provided\n// 2. \"login request_token\" - single token (needs exchange)\n// 3. \"login\" - no token, just show instructions\n\nif (!raw_token) {\n  return [{ json: { \n    mode: \"instructions\",\n    chat_id: ctx.chat_id,\n    user_id: ctx.user_id\n  }}];\n}\n\n// Check if it's in api_key:access_token format\nif (raw_token.includes(\":\")) {\n  const parts = raw_token.split(\":\");\n  const api_key = parts[0];\n  const access_token = parts[1];\n  return [{ json: {\n    mode: \"store_token\",\n    chat_id: ctx.chat_id,\n    user_id: ctx.user_id,\n    access_token: access_token,\n    api_key: api_key\n  }}];\n}\n\n// Single token - it's a request_token\n// We can't exchange without API secret, but we can store it as access_token directly\n// (User may have already exchanged manually)\nreturn [{ json: {\n  mode: \"store_token\", \n  chat_id: ctx.chat_id,\n  user_id: ctx.user_id,\n  access_token: raw_token,\n  api_key: \"gifzm9kfars6kr8x\"\n}}];"
      },
      "id": "handle-login",
      "name": "Handle LOGIN",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2460,
        800
      ],
      "credentials": {}
    },
    {
      "parameters": {
        "chatId": "={{ $('Prepare User Context').item.json.chat_id }}",
        "text": "={{ '\u2705 *SELL Logged*\\n\\n\ud83d\udcca ' + $('Parse Claude Response').item.json.symbol + '\\n   Qty: ' + $('Parse Claude Response').item.json.quantity + ' shares\\n   Price: \u20b9' + $('Parse Claude Response').item.json.price + '\\n   Total: \u20b9' + ($('Parse Claude Response').item.json.quantity * $('Parse Claude Response').item.json.price) + '\\n\\n\ud83d\udcc1 View with: `portfolio`' }}",
        "additionalFields": {
          "parse_mode": "Markdown",
          "appendAttribution": false
        }
      },
      "id": "confirm-sell",
      "name": "Confirm SELL",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2710,
        -50
      ],
      "credentials": {
        "telegramApi": {
          "id": "oh2jj2bRbyNVQvgB",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Prepare User Context').item.json.chat_id }}",
        "text": "={{ '\ud83d\udd14 *Alert Set*\\n\\n\ud83d\udcca ' + $('Parse Claude Response').item.json.symbol + '\\n' + ($('Parse Claude Response').item.json.lower_bound ? '   \u2b07\ufe0f Lower: \u20b9' + $('Parse Claude Response').item.json.lower_bound + '\\n' : '') + ($('Parse Claude Response').item.json.upper_bound ? '   \u2b06\ufe0f Upper: \u20b9' + $('Parse Claude Response').item.json.upper_bound + '\\n' : '') + '\\nView alerts: `alerts`\\nCancel: `cancel alert ' + $('Parse Claude Response').item.json.symbol + '`' }}",
        "additionalFields": {
          "parse_mode": "Markdown",
          "appendAttribution": false
        }
      },
      "id": "confirm-alert-set",
      "name": "Confirm Alert Set",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2710,
        100
      ],
      "credentials": {
        "telegramApi": {
          "id": "oh2jj2bRbyNVQvgB",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "has-token",
              "leftValue": "={{ $json.mode }}",
              "rightValue": "store_token",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "is-token-provided",
      "name": "Is Token Provided?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2720,
        800
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO kite_sessions (user_id, access_token_encrypted, token_expiry, last_login_at) VALUES ($1, $2, NOW() + INTERVAL '18 hours', NOW()) ON CONFLICT (user_id) DO UPDATE SET access_token_encrypted = EXCLUDED.access_token_encrypted, token_expiry = EXCLUDED.token_expiry, last_login_at = NOW() RETURNING user_id, token_expiry",
        "options": {
          "queryReplacement": "={{ [$json.user_id, $json.access_token] }}"
        }
      },
      "id": "store-token-db",
      "name": "Store Token in DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2980,
        720
      ],
      "credentials": {
        "postgres": {
          "id": "6dSdIQ2xAFPzyEwe",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Handle LOGIN').first().json.chat_id }}",
        "text": "={{ '\u2705 *Kite Login Successful!*\\n\\nYour Zerodha session is now active.\\nToken valid until: ' + new Date($input.first().json.token_expiry).toLocaleString(\"en-IN\", {timeZone: \"Asia/Kolkata\"}) + ' IST\\n\\nLive data is now enabled. Your morning briefing will include live price data.' }}",
        "additionalFields": {
          "parse_mode": "Markdown",
          "appendAttribution": false
        }
      },
      "id": "confirm-login",
      "name": "Confirm Login",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3240,
        720
      ],
      "credentials": {
        "telegramApi": {
          "id": "oh2jj2bRbyNVQvgB",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Handle LOGIN').first().json.chat_id }}",
        "text": "\ud83d\udd11 *Kite Connect Login*\n\n1. Click the link below to login:\n[Login to Zerodha](https://kite.zerodha.com/connect/login?v=3&api_key=gifzm9kfars6kr8x)\n\n2. Complete Zerodha login\n3. From the redirect URL, copy the full URL or just the `request_token` value\n4. Send: `login YOUR_TOKEN`\n\nOr send your existing token directly:\n`login api_key:access_token`",
        "additionalFields": {
          "parse_mode": "Markdown",
          "appendAttribution": false
        }
      },
      "id": "login-instructions",
      "name": "Login Instructions",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2980,
        880
      ],
      "credentials": {
        "telegramApi": {
          "id": "oh2jj2bRbyNVQvgB",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Format prediction/analysis response\nconst symbol = $(\"Parse Claude Response\").item.json.symbol;\nconst ctx = $(\"Parse Claude Response\").item.json;\n\n// Get the quote data from Fetch Kite Quote\nlet quote = {};\ntry {\n  const raw = $input.first().json;\n  // Kite returns: {\"status\": \"success\", \"data\": {\"NSE:SYMBOL\": {...}}}\n  if (raw.status === \"success\" && raw.data) {\n    const key = Object.keys(raw.data)[0];\n    quote = raw.data[key] || {};\n  }\n} catch(e) {}\n\nconst price = quote.last_price || null;\nconst change = quote.change || 0;\nconst changePct = (quote.change / (quote.last_price - quote.change) * 100) || 0;\nconst high = quote.ohlc?.high || null;\nconst low = quote.ohlc?.low || null;\nconst prevClose = quote.ohlc?.close || null;\n\nlet msg = `\ud83d\udd2e *Price Analysis: ${symbol}*\\n\\n`;\n\nif (price) {\n  const arrow = change >= 0 ? \"\ud83d\udcc8\" : \"\ud83d\udcc9\";\n  msg += `${arrow} *\u20b9${price.toLocaleString(\"en-IN\")}*\\n`;\n  if (change !== 0) {\n    const pct = changePct.toFixed(2);\n    msg += `   ${change >= 0 ? \"+\" : \"\"}${change.toFixed(2)} (${change >= 0 ? \"+\" : \"\"}${pct}%)\\n`;\n  }\n  if (high && low) msg += `   Day Range: \u20b9${low} \u2014 \u20b9${high}\\n`;\n  if (prevClose) msg += `   Prev Close: \u20b9${prevClose}\\n`;\n  \n  const target = ctx.upper_bound;\n  if (target) {\n    const diff = ((target - price) / price * 100).toFixed(1);\n    const dir = target > price ? \"upside\" : \"downside\";\n    msg += `\\n\ud83c\udfaf *Target: \u20b9${target}*\\n   ${Math.abs(diff)}% ${dir}\\n`;\n  }\n  \n  msg += `\\n\ud83d\udcca Full AI analysis with technicals & options data arrives in your morning briefing at 8:30 AM.`;\n} else {\n  msg += `\u26a0\ufe0f No live data available for *${symbol || \"unknown\"}*.\\n\\nThis could be because:\\n\u2022 No active Kite session (use \\`login\\`)\\n\u2022 Market is closed\\n\u2022 Invalid symbol name`;\n}\n\nreturn [{ json: { chat_id: ctx.chat_id, message: msg } }];"
      },
      "id": "format-predict",
      "name": "Format Prediction",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2710,
        400
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "parse_mode": "Markdown",
          "appendAttribution": false
        }
      },
      "id": "send-predict",
      "name": "Send Prediction",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2960,
        400
      ],
      "credentials": {
        "telegramApi": {
          "id": "oh2jj2bRbyNVQvgB",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://api.kite.trade/quote?i=NSE:' + $('Parse Claude Response').item.json.symbol }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'token gifzm9kfars6kr8x:' + $('Get Quote Token').first().json.access_token_encrypted }}"
            },
            {
              "name": "X-Kite-Version",
              "value": "3"
            }
          ]
        },
        "options": {}
      },
      "id": "fetch-kite-quote",
      "name": "Fetch Kite Quote",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2720,
        400
      ],
      "onError": "continueRegularOutput"
    },
    {
      "id": "sync-get-token",
      "name": "Get Sync Token",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2460,
        850
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT access_token_encrypted, token_expiry > NOW() as is_valid FROM kite_sessions WHERE user_id = (SELECT id FROM users WHERE is_kite_provider = true LIMIT 1) LIMIT 1"
      },
      "credentials": {
        "postgres": {
          "id": "6dSdIQ2xAFPzyEwe",
          "name": "Postgres account"
        }
      },
      "alwaysOutputData": true
    },
    {
      "id": "sync-is-valid",
      "name": "Is Sync Token Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2700,
        850
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "sync-token-check",
              "leftValue": "={{ $json.is_valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "sync-no-token",
      "name": "No Kite Token Msg",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2940,
        720
      ],
      "parameters": {
        "chatId": "={{ $(\"Parse Claude Response\").item.json.chat_id }}",
        "text": "\u26a0\ufe0f *Kite Session Required*\n\nYour Kite token has expired or is not set.\n\nTo sync your portfolio:\n1. Get a fresh access token from Kite\n2. Send: `login api_key:access_token`\n\nThen try `sync` again.",
        "additionalFields": {
          "parse_mode": "Markdown",
          "appendAttribution": false
        }
      },
      "credentials": {
        "telegramApi": {
          "id": "oh2jj2bRbyNVQvgB",
          "name": "Telegram account"
        }
      }
    },
    {
      "id": "sync-fetch-kite",
      "name": "Fetch Kite Holdings",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2940,
        980
      ],
      "parameters": {
        "method": "GET",
        "url": "https://api.kite.trade/portfolio/holdings",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'token gifzm9kfars6kr8x:' + $json.access_token_encrypted }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        },
        "onError": "continueRegularOutput"
      }
    },
    {
      "id": "sync-build-sql",
      "name": "Build Sync SQL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3180,
        980
      ],
      "parameters": {
        "jsCode": "const userId = $(\"Parse Claude Response\").item.json.user_id;\nconst response = $(\"Fetch Kite Holdings\").item.json;\nconst holdings = response.data || [];\n\nif (holdings.length === 0) {\n  return [{ json: {\n    sql: 'SELECT 1 AS synced_count',\n    count: 0,\n    sample: 'No holdings returned from Kite'\n  }}];\n}\n\nconst values = holdings.map(h => {\n  const sym = h.tradingsymbol.replace(/'/g, \"''\");\n  const qty = parseInt(h.quantity);\n  const price = parseFloat(h.average_price).toFixed(2);\n  return `(${userId}, '${sym}', 'BUY', ${qty}, ${price}, 'kite_sync', CURRENT_DATE)`;\n}).join(',\\n');\n\nconst sql = `DELETE FROM trades WHERE user_id=${userId} AND source='kite_sync';\\nINSERT INTO trades (user_id, symbol, trade_type, quantity, price, source, trade_date) VALUES\\n${values};`;\n\nconst sample = holdings.slice(0, 3).map(h =>\n  `${h.tradingsymbol} (${h.quantity}@\\u20b9${parseFloat(h.average_price).toFixed(0)})`\n).join(', ');\n\nreturn [{ json: { sql, count: holdings.length, sample } }];"
      }
    },
    {
      "id": "sync-execute",
      "name": "Execute Sync",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        3420,
        980
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.sql }}"
      },
      "credentials": {
        "postgres": {
          "id": "6dSdIQ2xAFPzyEwe",
          "name": "Postgres account"
        }
      }
    },
    {
      "id": "sync-format-result",
      "name": "Format Sync Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3420,
        1200
      ],
      "parameters": {
        "jsCode": "const count = $(\"Build Sync SQL\").item.json.count;\nconst sample = $(\"Build Sync SQL\").item.json.sample;\nconst chatId = $(\"Parse Claude Response\").item.json.chat_id;\n\nreturn [{ json: {\n  chat_id: chatId,\n  message: `\\u2705 *Portfolio Synced!*\\n\\nImported *${count} holdings* from Kite Connect.\\n\\nSample: ${sample}...\\n\\nSend \\`portfolio\\` to view your holdings.`\n}}];"
      }
    },
    {
      "id": "sync-confirm",
      "name": "Confirm Sync",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3660,
        1200
      ],
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "parse_mode": "Markdown",
          "appendAttribution": false
        }
      },
      "credentials": {
        "telegramApi": {
          "id": "oh2jj2bRbyNVQvgB",
          "name": "Telegram account"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Extract Message Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Message Data": {
      "main": [
        [
          {
            "node": "Check User Auth",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check User Auth": {
      "main": [
        [
          {
            "node": "Is Authorized?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Authorized?": {
      "main": [
        [
          {
            "node": "Prepare User Context",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reject Unauthorized",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare User Context": {
      "main": [
        [
          {
            "node": "Is File Upload?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is File Upload?": {
      "main": [
        [
          {
            "node": "Handle File Upload",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Claude: Parse Intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude: Parse Intent": {
      "main": [
        [
          {
            "node": "Parse Claude Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Claude Response": {
      "main": [
        [
          {
            "node": "Save to Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Context": {
      "main": [
        [
          {
            "node": "Route by Intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Intent": {
      "main": [
        [
          {
            "node": "Handle BUY",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle SELL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle ALERT SET",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle PORTFOLIO",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Quote Token",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle BRIEFING",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fetch Active Alerts",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Alert Cancel",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle LOGIN",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Sync Token",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle HELP",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Unknown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle BUY": {
      "main": [
        [
          {
            "node": "Confirm BUY",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle PORTFOLIO": {
      "main": [
        [
          {
            "node": "Format Portfolio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Portfolio": {
      "main": [
        [
          {
            "node": "Send Portfolio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Active Alerts": {
      "main": [
        [
          {
            "node": "Format Alerts List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Alerts List": {
      "main": [
        [
          {
            "node": "Send Alerts List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Alert Cancel": {
      "main": [
        [
          {
            "node": "Cancel Alert in DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cancel Alert in DB": {
      "main": [
        [
          {
            "node": "Confirm Alert Cancel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle SELL": {
      "main": [
        [
          {
            "node": "Confirm SELL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle ALERT SET": {
      "main": [
        [
          {
            "node": "Confirm Alert Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle LOGIN": {
      "main": [
        [
          {
            "node": "Is Token Provided?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Token Provided?": {
      "main": [
        [
          {
            "node": "Store Token in DB",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Login Instructions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Token in DB": {
      "main": [
        [
          {
            "node": "Confirm Login",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Prediction": {
      "main": [
        [
          {
            "node": "Send Prediction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Quote Token": {
      "main": [
        [
          {
            "node": "Fetch Kite Quote",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Kite Quote": {
      "main": [
        [
          {
            "node": "Format Prediction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Sync Token": {
      "main": [
        [
          {
            "node": "Is Sync Token Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Sync Token Valid?": {
      "main": [
        [
          {
            "node": "Fetch Kite Holdings",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Kite Token Msg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Kite Holdings": {
      "main": [
        [
          {
            "node": "Build Sync SQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Sync SQL": {
      "main": [
        [
          {
            "node": "Execute Sync",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Sync": {
      "main": [
        [
          {
            "node": "Format Sync Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Sync Result": {
      "main": [
        [
          {
            "node": "Confirm Sync",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "d02f9c52-5f8f-4e02-adc3-f9b2cc8222b3",
  "activeVersionId": "d02f9c52-5f8f-4e02-adc3-f9b2cc8222b3",
  "versionCounter": 100,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-02-18T07:36:36.580Z",
      "createdAt": "2026-02-18T07:36:36.580Z",
      "role": "workflow:owner",
      "workflowId": "kGn3KwIfHldiwuGW",
      "projectId": "qJqZAaC2LCOkdDc2",
      "project": {
        "updatedAt": "2026-02-17T17:30:11.422Z",
        "createdAt": "2026-02-17T17:24:57.957Z",
        "id": "qJqZAaC2LCOkdDc2",
        "name": "Vipindas S <mail2vdas@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "88dcc745-8de1-40a7-a5c3-0cbc3021a882"
      }
    }
  ],
  "tags": [],
  "parentFolder": null,
  "activeVersion": {
    "updatedAt": "2026-02-18T14:22:25.828Z",
    "createdAt": "2026-02-18T14:22:25.828Z",
    "versionId": "d02f9c52-5f8f-4e02-adc3-f9b2cc8222b3",
    "workflowId": "kGn3KwIfHldiwuGW",
    "nodes": [
      {
        "parameters": {
          "updates": [
            "message",
            "callback_query"
          ]
        },
        "id": "telegram-trigger",
        "name": "Telegram Trigger",
        "type": "n8n-nodes-base.telegramTrigger",
        "typeVersion": 1.1,
        "position": [
          220,
          300
        ],
        "webhookId": "stockpulse-main",
        "credentials": {
          "telegramApi": {
            "id": "oh2jj2bRbyNVQvgB",
            "name": "Telegram account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Extract message data from Telegram\nconst update = $input.first().json;\nlet userId, messageText, chatId, messageType, fileInfo, callbackData, messageId;\n\nif (update.callback_query) {\n  // Inline button pressed\n  userId = update.callback_query.from.id;\n  chatId = update.callback_query.message.chat.id;\n  callbackData = update.callback_query.data;\n  messageId = update.callback_query.message.message_id;\n  messageText = callbackData; // Treat callback as message\n  messageType = 'callback';\n} else if (update.message) {\n  userId = update.message.from.id;\n  chatId = update.message.chat.id;\n  messageId = update.message.message_id;\n  messageType = 'text';\n  \n  if (update.message.document) {\n    messageType = 'file';\n    fileInfo = {\n      file_id: update.message.document.file_id,\n      file_name: update.message.document.file_name,\n      mime_type: update.message.document.mime_type,\n      file_size: update.message.document.file_size\n    };\n    messageText = update.message.caption || 'file_upload';\n  } else {\n    messageText = update.message.text || '';\n  }\n} else {\n  return [];\n}\n\nreturn [{\n  json: {\n    telegram_user_id: userId,\n    chat_id: chatId,\n    message_text: messageText,\n    message_type: messageType,\n    message_id: messageId,\n    file_info: fileInfo || null,\n    callback_data: callbackData || null,\n    timestamp: new Date().toISOString()\n  }\n}];"
        },
        "id": "extract-message",
        "name": "Extract Message Data",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          440,
          300
        ]
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT id, telegram_user_id, display_name, is_active, is_kite_provider, is_admin, settings, alerts_chat_id, commands_chat_id, private_chat_id FROM users WHERE telegram_user_id = $1 AND is_active = true LIMIT 1",
          "options": {
            "queryReplacement": "={{ [$json.telegram_user_id] }}"
          }
        },
        "id": "check-auth",
        "name": "Check User Auth",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          660,
          300
        ],
        "credentials": {
          "postgres": {
            "id": "6dSdIQ2xAFPzyEwe",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose"
            },
            "conditions": [
              {
                "id": "auth-check",
                "leftValue": "={{ $json.id }}",
                "rightValue": "",
                "operator": {
                  "type": "exists",
                  "operation": "exists"
                }
              }
            ],
            "combinator": "and"
          }
        },
        "id": "is-authorized",
        "name": "Is Authorized?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          880,
          300
        ]
      },
      {
        "parameters": {
          "chatId": "={{ $('Extract Message Data').item.json.chat_id }}",
          "text": "\u26d4 Unauthorized. You are not registered to use StockPulse.\n\nContact the admin to get access.",
          "additionalFields": {
            "parse_mode": "Markdown",
            "appendAttribution": false
          }
        },
        "id": "reject-unauthorized",
        "name": "Reject Unauthorized",
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          1100,
          500
        ],
        "credentials": {
          "telegramApi": {
            "id": "oh2jj2bRbyNVQvgB",
            "name": "Telegram account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Rate limit check: max 30 messages per hour per user\nconst userId = $('Check User Auth').item.json.id;\nconst messageData = $('Extract Message Data').item.json;\n\n// Store user context for downstream nodes\nreturn [{\n  json: {\n    user_id: userId,\n    telegram_user_id: messageData.telegram_user_id,\n    chat_id: messageData.chat_id,\n    message_text: messageData.message_text,\n    message_type: messageData.message_type,\n    message_id: messageData.message_id,\n    file_info: messageData.file_info,\n    callback_data: messageData.callback_data,\n    user_settings: $('Check User Auth').item.json.settings,\n    is_kite_provider: $('Check User Auth').item.json.is_kite_provider,\n    alerts_chat_id: $('Check User Auth').item.json.alerts_chat_id,\n    commands_chat_id: $('Check User Auth').item.json.commands_chat_id,\n    private_chat_id: $('Check User Auth').item.json.private_chat_id,\n    display_name: $('Check User Auth').item.json.display_name\n  }\n}];"
        },
        "id": "prepare-context",
        "name": "Prepare User Context",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1100,
          200
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose"
            },
            "conditions": [
              {
                "id": "is-file",
                "leftValue": "={{ $json.message_type }}",
                "rightValue": "file",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          }
        },
        "id": "is-file-upload",
        "name": "Is File Upload?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          1320,
          200
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.anthropic.com/v1/messages",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "anthropic-version",
                "value": "2023-06-01"
              },
              {
                "name": "content-type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ model: 'claude-sonnet-4-20250514', max_tokens: 500, system: 'You are a stock trading message parser for Indian markets (NSE/BSE). Extract intent and data from user messages. Respond ONLY in valid JSON format with no other text:\\n{\\n  \"intent\": \"buy|sell|alert_set|alert_cancel|portfolio|predict|briefing|alerts_list|sync|login|settings|help|clarify|unknown\",\\n  \"symbol\": \"STOCK_SYMBOL or null\",\\n  \"quantity\": \"number or null\",\\n  \"price\": \"number or null\",\\n  \"lower_bound\": \"number or null\",\\n  \"upper_bound\": \"number or null\",\\n  \"request_token\": \"string or null\",\\n  \"raw_query\": \"original message if intent is predict or unknown\"\\n}\\n\\nMap common names: Reliance\u2192RELIANCE, Infosys\u2192INFY, TCS\u2192TCS, HDFC Bank\u2192HDFCBANK, Tata Motors\u2192TATAMOTORS, Wipro\u2192WIPRO, ITC\u2192ITC, SBI\u2192SBIN, Axis Bank\u2192AXISBANK, Kotak\u2192KOTAKBANK, Bajaj Finance\u2192BAJFINANCE, HCL Tech\u2192HCLTECH, Asian Paints\u2192ASIANPAINT, Maruti\u2192MARUTI, Sun Pharma\u2192SUNPHARMA, Titan\u2192TITAN, L&T\u2192LT, Adani\u2192ADANIENT, Bharti Airtel\u2192BHARTIARTL.\\nDefault exchange: NSE. If date not mentioned, use today. If price not mentioned, set null.\\nFor \"alert\" or \"set alert\", extract symbol + bounds. \"alert reliance 2800-2950\" means lower=2800, upper=2950.\\nFor \"portfolio\"/\"holdings\"/\"what do i own\", intent=portfolio.\\nFor \"when will X hit Y\", intent=predict with symbol and upper_bound.\\nFor \"briefing\"/\"morning update\"/\"market update\", intent=briefing.\\nFor callback data like \"sell_RELIANCE_market\", parse as intent=sell, symbol=RELIANCE.\\nFor \"login ABC123\", intent=login, request_token=ABC123. For bare \"login\" without a token, intent=login, request_token=null.', messages: [{ role: 'user', content: $json.message_text }] }) }}"
        },
        "id": "claude-parse-intent",
        "name": "Claude: Parse Intent",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1540,
          100
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "Idkjo6pmv2QE4urQ",
            "name": "Anthropic Header Auth"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Parse Claude's response into structured data\nconst response = $input.first().json;\nlet parsed;\n\ntry {\n  const text = response.content[0].text;\n  // Clean up: remove markdown code fences if present\n  const clean = text.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n  parsed = JSON.parse(clean);\n} catch (e) {\n  parsed = {\n    intent: 'unknown',\n    raw_query: $('Prepare User Context').item.json.message_text,\n    parse_error: e.message\n  };\n}\n\n// Merge with user context\nconst ctx = $('Prepare User Context').item.json;\n\nreturn [{\n  json: {\n    ...ctx,\n    intent: parsed.intent,\n    symbol: parsed.symbol ? parsed.symbol.toUpperCase().replace(/[^A-Z0-9&-]/g, '') : null,\n    quantity: parsed.quantity ? parseInt(parsed.quantity) : null,\n    price: parsed.price ? parseFloat(parsed.price) : null,\n    lower_bound: parsed.lower_bound ? parseFloat(parsed.lower_bound) : null,\n    upper_bound: parsed.upper_bound ? parseFloat(parsed.upper_bound) : null,\n    request_token: parsed.request_token || null,\n    raw_query: parsed.raw_query || null\n  }\n}];"
        },
        "id": "parse-claude-response",
        "name": "Parse Claude Response",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1760,
          100
        ]
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "INSERT INTO conversation_context (user_id, message, role, parsed_intent, telegram_message_id, chat_id) VALUES ($1, $2, 'user', $3, $4, $5)",
          "options": {
            "queryReplacement": "={{ [$json.user_id, $json.message_text, JSON.stringify({intent: $json.intent, symbol: $json.symbol}), $json.message_id, $json.chat_id] }}"
          }
        },
        "id": "save-context",
        "name": "Save to Context",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          1980,
          100
        ],
        "credentials": {
          "postgres": {
            "id": "6dSdIQ2xAFPzyEwe",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict"
                  },
                  "conditions": [
                    {
                      "id": "rule-buy",
                      "leftValue": "={{ $(\"Parse Claude Response\").item.json.intent }}",
                      "rightValue": "buy",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                }
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict"
                  },
                  "conditions": [
                    {
                      "id": "rule-sell",
                      "leftValue": "={{ $(\"Parse Claude Response\").item.json.intent }}",
                      "rightValue": "sell",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                }
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict"
                  },
                  "conditions": [
                    {
                      "id": "rule-alert-set",
                      "leftValue": "={{ $(\"Parse Claude Response\").item.json.intent }}",
                      "rightValue": "alert_set",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                }
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict"
                  },
                  "conditions": [
                    {
                      "id": "rule-portfolio",
                      "leftValue": "={{ $(\"Parse Claude Response\").item.json.intent }}",
                      "rightValue": "portfolio",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                }
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict"
                  },
                  "conditions": [
                    {
                      "id": "rule-predict",
                      "leftValue": "={{ $(\"Parse Claude Response\").item.json.intent }}",
                      "rightValue": "predict",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                }
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict"
                  },
                  "conditions": [
                    {
                      "id": "rule-briefing",
                      "leftValue": "={{ $(\"Parse Claude Response\").item.json.intent }}",
                      "rightValue": "briefing",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                }
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict"
                  },
                  "conditions": [
                    {
                      "id": "rule-alerts-list",
                      "leftValue": "={{ $(\"Parse Claude Response\").item.json.intent }}",
                      "rightValue": "alerts_list",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                }
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict"
                  },
                  "conditions": [
                    {
                      "id": "rule-alert-cancel",
                      "leftValue": "={{ $(\"Parse Claude Response\").item.json.intent }}",
                      "rightValue": "alert_cancel",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                }
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict"
                  },
                  "conditions": [
                    {
                      "id": "rule-login",
                      "leftValue": "={{ $(\"Parse Claude Response\").item.json.intent }}",
                      "rightValue": "login",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                }
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict"
                  },
                  "conditions": [
                    {
                      "id": "rule-sync",
                      "leftValue": "={{ $(\"Parse Claude Response\").item.json.intent }}",
                      "rightValue": "sync",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                }
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict"
                  },
                  "conditions": [
                    {
                      "id": "rule-help",
                      "leftValue": "={{ $(\"Parse Claude Response\").item.json.intent }}",
                      "rightValue": "help",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                }
              }
            ]
          },
          "options": {
            "fallbackOutput": "extra"
          }
        },
        "id": "route-by-intent",
        "name": "Route by Intent",
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3,
        "position": [
          2200,
          100
        ]
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "INSERT INTO trades (user_id, symbol, exchange, quantity, price, trade_type, source) VALUES ($1, $2, 'NSE', $3, $4, 'BUY', 'telegram') RETURNING id, symbol, quantity, price",
          "options": {
            "queryReplacement": "={{ [$(\"Parse Claude Response\").item.json.user_id, $(\"Parse Claude Response\").item.json.symbol, $(\"Parse Claude Response\").item.json.quantity, $(\"Parse Claude Response\").item.json.price] }}"
          }
        },
        "id": "handle-buy",
        "name": "Handle BUY",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          2460,
          -200
        ],
        "credentials": {
          "postgres": {
            "id": "6dSdIQ2xAFPzyEwe",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "chatId": "={{ $('Prepare User Context').item.json.chat_id }}",
          "text": "={{ '\u2705 *BUY Logged*\\n\\n' + '\ud83d\udcca ' + $('Parse Claude Response').item.json.symbol + '\\n' + '   Qty: ' + $('Parse Claude Response').item.json.quantity + ' shares\\n' + '   Price: \u20b9' + $('Parse Claude Response').item.json.price + '\\n' + '   Total: \u20b9' + ($('Parse Claude Response').item.json.quantity * $('Parse Claude Response').item.json.price).toLocaleString() + '\\n\\n' + '\ud83d\udca1 Set a price alert: `alert ' + $('Parse Claude Response').item.json.symbol + ' LOWER-UPPER`' }}",
          "additionalFields": {
            "parse_mode": "Markdown",
            "appendAttribution": false
          }
        },
        "id": "confirm-buy",
        "name": "Confirm BUY",
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          2700,
          -200
        ],
        "credentials": {
          "telegramApi": {
            "id": "oh2jj2bRbyNVQvgB",
            "name": "Telegram account"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "INSERT INTO trades (user_id, symbol, exchange, quantity, price, trade_type, source) VALUES ($1, $2, 'NSE', $3, $4, 'SELL', 'telegram') RETURNING id, symbol, quantity, price",
          "options": {
            "queryReplacement": "={{ [$(\"Parse Claude Response\").item.json.user_id, $(\"Parse Claude Response\").item.json.symbol, $(\"Parse Claude Response\").item.json.quantity, $(\"Parse Claude Response\").item.json.price] }}"
          }
        },
        "id": "handle-sell",
        "name": "Handle SELL",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          2460,
          -50
        ],
        "credentials": {
          "postgres": {
            "id": "6dSdIQ2xAFPzyEwe",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "INSERT INTO alerts (user_id, symbol, exchange, lower_bound, upper_bound) VALUES ($1, $2, 'NSE', $3, $4) RETURNING id, symbol, lower_bound, upper_bound",
          "options": {
            "queryReplacement": "={{ [$(\"Parse Claude Response\").item.json.user_id, $(\"Parse Claude Response\").item.json.symbol, $(\"Parse Claude Response\").item.json.lower_bound, $(\"Parse Claude Response\").item.json.upper_bound] }}"
          }
        },
        "id": "handle-alert-set",
        "name": "Handle ALERT SET",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          2460,
          100
        ],
        "credentials": {
          "postgres": {
            "id": "6dSdIQ2xAFPzyEwe",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT h.symbol, h.net_quantity, h.avg_buy_price, h.total_invested FROM holdings h WHERE h.user_id = $1 ORDER BY h.total_invested DESC",
          "options": {
            "queryReplacement": "={{ [$(\"Parse Claude Response\").item.json.user_id] }}"
          }
        },
        "id": "handle-portfolio",
        "name": "Handle PORTFOLIO",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          2460,
          250
        ],
        "credentials": {
          "postgres": {
            "id": "6dSdIQ2xAFPzyEwe",
            "name": "Postgres account"
          }
        },
        "onError": "continueRegularOutput",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "jsCode": "// Format portfolio from holdings data\nconst holdings = $input.all().map(i => i.json);\n\nif (holdings.length === 0 || !holdings[0].symbol) {\n  return [{ json: { message: '\ud83d\udced *No holdings found*\\n\\nStart by logging a trade:\\n`buy RELIANCE 10 at 2850`' } }];\n}\n\nlet msg = '\ud83d\udcca *Your Portfolio*\\n\\n';\nlet totalInvested = 0;\n\nfor (const h of holdings) {\n  const invested = h.net_quantity * h.avg_buy_price;\n  totalInvested += invested;\n  msg += '\u26aa *' + h.symbol + '*\\n';\n  msg += '   ' + h.net_quantity + ' x \u20b9' + h.avg_buy_price + ' = \u20b9' + Math.round(invested).toLocaleString() + '\\n\\n';\n}\n\nmsg += '\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\\n';\nmsg += '\ud83d\udcb0 *Total Invested: \u20b9' + Math.round(totalInvested).toLocaleString() + '*\\n';\nmsg += '\\n_Live prices update with morning briefing_';\n\nreturn [{ json: { message: msg } }];"
        },
        "id": "format-portfolio",
        "name": "Format Portfolio",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2700,
          250
        ]
      },
      {
        "parameters": {
          "chatId": "={{ $('Prepare User Context').item.json.chat_id }}",
          "text": "={{ $json.message }}",
          "additionalFields": {
            "parse_mode": "Markdown",
            "appendAttribution": false
          }
        },
        "id": "send-portfolio",
        "name": "Send Portfolio",
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          2920,
          250
        ],
        "credentials": {
          "telegramApi": {
            "id": "oh2jj2bRbyNVQvgB",
            "name": "Telegram account"
          }
        }
      },
      {
        "parameters": {
          "chatId": "={{ $('Prepare User Context').item.json.chat_id }}",
          "text": "\ud83e\udd16 *StockPulse Commands*\n\n\ud83d\udcc8 *Trading*\n`buy RELIANCE 10 at 2850`\n`sell INFY 5 at 1500`\n\n\ud83d\udd14 *Alerts*\n`alert RELIANCE 2800-2950`\n`alerts` \u2014 view active alerts\n`cancel alert RELIANCE`\n\n\ud83d\udcca *Portfolio*\n`portfolio` \u2014 view holdings + P&L\n`sync` \u2014 sync from Kite (User 1 only)\n\n\ud83d\udd2e *Analysis*\n`predict RELIANCE 3000`\n`when will TCS hit 4000`\n`briefing` \u2014 morning analysis\n\n\ud83d\udcce *File Upload*\nSend a CSV file to bulk import trades\n\n\u2699\ufe0f *Settings*\n`login <token>` \u2014 connect Kite\n`settings` \u2014 view preferences",
          "additionalFields": {
            "parse_mode": "Markdown",
            "appendAttribution": false
          }
        },
        "id": "handle-help",
        "name": "Handle HELP",
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          2460,
          750
        ],
        "credentials": {
          "telegramApi": {
            "id": "oh2jj2bRbyNVQvgB",
            "name": "Telegram account"
          }
        }
      },
      {
        "parameters": {
          "chatId": "={{ $('Prepare User Context').item.json.chat_id }}",
          "text": "={{ '\ud83e\udd14 I didn\\'t quite understand that.\\n\\nYou said: \"' + $('Prepare User Context').item.json.message_text + '\"\\n\\nTry one of these:\\n\u2022 `buy RELIANCE 10 at 2850`\\n\u2022 `alert INFY 1400-1500`\\n\u2022 `portfolio`\\n\u2022 `help` for all commands' }}",
          "additionalFields": {
            "parse_mode": "Markdown",
            "appendAttribution": false
          }
        },
        "id": "handle-unknown",
        "name": "Handle Unknown",
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          2460,
          900
        ],
        "credentials": {
          "telegramApi": {
            "id": "oh2jj2bRbyNVQvgB",
            "name": "Telegram account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Handle CSV/XLS file upload for trade import\nconst ctx = $('Prepare User Context').item.json;\nconst fileInfo = ctx.file_info;\n\nif (!fileInfo) {\n  return [{ json: { message: '\u274c No file detected. Please send a CSV or XLSX file.' } }];\n}\n\nconst fileName = fileInfo.file_name.toLowerCase();\nif (!fileName.endsWith('.csv') && !fileName.endsWith('.xlsx') && !fileName.endsWith('.xls')) {\n  return [{ json: { message: '\u274c Unsupported file type. Please send a .csv or .xlsx file.\\n\\nCSV format:\\n```\\nSymbol,Type,Quantity,Price,Date\\nRELIANCE,BUY,10,2850,2026-02-15\\n```' } }];\n}\n\n// Return file info for download in next node\nreturn [{\n  json: {\n    file_id: fileInfo.file_id,\n    file_name: fileInfo.file_name,\n    user_id: ctx.user_id,\n    chat_id: ctx.chat_id\n  }\n}];"
        },
        "id": "handle-file-upload",
        "name": "Handle File Upload",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1540,
          350
        ]
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT access_token_encrypted, token_expiry > NOW() as is_valid FROM kite_sessions WHERE user_id = (SELECT id FROM users WHERE is_kite_provider = true LIMIT 1) LIMIT 1"
        },
        "id": "handle-predict",
        "name": "Get Quote Token",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          2460,
          400
        ],
        "credentials": {
          "postgres": {
            "id": "6dSdIQ2xAFPzyEwe",
            "name": "Postgres account"
          }
        },
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "chatId": "={{ $(\"Parse Claude Response\").item.json.chat_id }}",
          "text": "\ud83d\udccb *Morning Briefing*\n\nThe morning briefing is sent automatically at *8:30 AM* (IST) every trading day.\n\nIt includes:\n\u2022 Global market cues (SGX Nifty, US markets)\n\u2022 FII/DII activity\n\u2022 Technical analysis for your stocks\n\u2022 Options data & sentiment\n\u2022 Top 5 stocks by attention score\n\nIf you missed today's briefing, it will arrive tomorrow morning.",
          "additionalFields": {
            "parse_mode": "Markdown",
            "appendAttribution": false
          }
        },
        "id": "handle-briefing",
        "name": "Handle BRIEFING",
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          2460,
          500
        ],
        "credentials": {
          "telegramApi": {
            "id": "oh2jj2bRbyNVQvgB",
            "name": "Telegram account"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT id, symbol, lower_bound, upper_bound, status, created_at FROM alerts WHERE user_id = $1 AND status IN ('active', 'cooldown') ORDER BY created_at DESC LIMIT 20",
          "options": {
            "queryReplacement": "={{ [$(\"Parse Claude Response\").item.json.user_id] }}"
          }
        },
        "id": "fetch-alerts-list",
        "name": "Fetch Active Alerts",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          2460,
          600
        ],
        "credentials": {
          "postgres": {
            "id": "6dSdIQ2xAFPzyEwe",
            "name": "Postgres account"
          }
        },
        "onError": "continueRegularOutput",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "jsCode": "const alerts = $input.all()\n  .map(i => i.json)\n  .filter(a => a.id !== undefined && a.id !== null);  // filter out empty rows from alwaysOutputData\n\nconst chatId = $(\"Parse Claude Response\").first().json.chat_id;\n\nif (alerts.length === 0) {\n  return [{ json: { chat_id: chatId, message: \"\ud83d\udced *No active alerts*\\n\\nSet one with:\\n`alert RELIANCE 2800-2950`\" } }];\n}\n\nlet msg = \"\ud83d\udd14 *Your Active Alerts*\\n\\n\";\nfor (const a of alerts) {\n  const bounds = [];\n  if (a.lower_bound) bounds.push(\"\u2b07\ufe0f \u20b9\" + a.lower_bound);\n  if (a.upper_bound) bounds.push(\"\u2b06\ufe0f \u20b9\" + a.upper_bound);\n  const status = a.status === \"cooldown\" ? \" _(cooldown)_\" : \"\";\n  msg += \"\u2022 *\" + a.symbol + \"* \u2014 \" + bounds.join(\" / \") + status + \"\\n\";\n}\nmsg += \"\\n_\" + alerts.length + \" alert(s) active_\\n\\nCancel with: `cancel alert SYMBOL`\";\n\nreturn [{ json: { chat_id: chatId, message: msg } }];"
        },
        "id": "format-alerts-list",
        "name": "Format Alerts List",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2700,
          600
        ]
      },
      {
        "parameters": {
          "chatId": "={{ $(\"Parse Claude Response\").item.json.chat_id }}",
          "text": "={{ $json.message }}",
          "additionalFields": {
            "parse_mode": "Markdown",
            "appendAttribution": false
          }
        },
        "id": "send-alerts-list",
        "name": "Send Alerts List",
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          2920,
          600
        ],
        "credentials": {
          "telegramApi": {
            "id": "oh2jj2bRbyNVQvgB",
            "name": "Telegram account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const symbol = $(\"Parse Claude Response\").first().json.symbol;\nconst userId = $(\"Parse Claude Response\").first().json.user_id;\nconst chatId = $(\"Parse Claude Response\").first().json.chat_id;\n\nif (!symbol) {\n  return [{ json: { chat_id: chatId, query: null, message: '\u274c Please specify which alert to cancel:\\n`cancel alert RELIANCE`' } }];\n}\n\nreturn [{ json: { chat_id: chatId, user_id: userId, symbol: symbol, query: `UPDATE alerts SET status = 'cancelled' WHERE user_id = ${userId} AND symbol = '${symbol}' AND status = 'active' RETURNING symbol` } }];"
        },
        "id": "prepare-alert-cancel",
        "name": "Prepare Alert Cancel",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2460,
          700
        ]
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "UPDATE alerts SET status = 'cancelled' WHERE user_id = $1 AND symbol = $2 AND status = 'active' RETURNING symbol",
          "options": {
            "queryReplacement": "={{ [$json.user_id, $json.symbol] }}"
          }
        },
        "id": "cancel-alert-db",
        "name": "Cancel Alert in DB",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          2700,
          700
        ],
        "credentials": {
          "postgres": {
            "id": "6dSdIQ2xAFPzyEwe",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "chatId": "={{ $('Prepare Alert Cancel').first().json.chat_id }}",
          "text": "={{ $input.all().length > 0 ? '\u2705 Alert for *' + $('Prepare Alert Cancel').first().json.symbol + '* cancelled.' : '\u26a0\ufe0f No active alert found for *' + $('Prepare Alert Cancel').first().json.symbol + '*.' }}",
          "additionalFields": {
            "parse_mode": "Markdown",
            "appendAttribution": false
          }
        },
        "id": "confirm-alert-cancel",
        "name": "Confirm Alert Cancel",
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          2920,
          700
        ],
        "credentials": {
          "telegramApi": {
            "id": "oh2jj2bRbyNVQvgB",
            "name": "Telegram account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Process login token from user\nconst intent_data = $(\"Parse Claude Response\").first().json;\nconst raw_token = intent_data.request_token || \"\";\nconst ctx = intent_data;\n\n// Handle two formats:\n// 1. \"login api_key:access_token\" - direct access token provided\n// 2. \"login request_token\" - single token (needs exchange)\n// 3. \"login\" - no token, just show instructions\n\nif (!raw_token) {\n  return [{ json: { \n    mode: \"instructions\",\n    chat_id: ctx.chat_id,\n    user_id: ctx.user_id\n  }}];\n}\n\n// Check if it's in api_key:access_token format\nif (raw_token.includes(\":\")) {\n  const parts = raw_token.split(\":\");\n  const api_key = parts[0];\n  const access_token = parts[1];\n  return [{ json: {\n    mode: \"store_token\",\n    chat_id: ctx.chat_id,\n    user_id: ctx.user_id,\n    access_token: access_token,\n    api_key: api_key\n  }}];\n}\n\n// Single token - it's a request_token\n// We can't exchange without API secret, but we can store it as access_token directly\n// (User may have already exchanged manually)\nreturn [{ json: {\n  mode: \"store_token\", \n  chat_id: ctx.chat_id,\n  user_id: ctx.user_id,\n  access_token: raw_token,\n  api_key: \"gifzm9kfars6kr8x\"\n}}];"
        },
        "id": "handle-login",
        "name": "Handle LOGIN",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2460,
          800
        ],
        "credentials": {}
      },
      {
        "parameters": {
          "chatId": "={{ $('Prepare User Context').item.json.chat_id }}",
          "text": "={{ '\u2705 *SELL Logged*\\n\\n\ud83d\udcca ' + $('Parse Claude Response').item.json.symbol + '\\n   Qty: ' + $('Parse Claude Response').item.json.quantity + ' shares\\n   Price: \u20b9' + $('Parse Claude Response').item.json.price + '\\n   Total: \u20b9' + ($('Parse Claude Response').item.json.quantity * $('Parse Claude Response').item.json.price) + '\\n\\n\ud83d\udcc1 View with: `portfolio`' }}",
          "additionalFields": {
            "parse_mode": "Markdown",
            "appendAttribution": false
          }
        },
        "id": "confirm-sell",
        "name": "Confirm SELL",
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          2710,
          -50
        ],
        "credentials": {
          "telegramApi": {
            "id": "oh2jj2bRbyNVQvgB",
            "name": "Telegram account"
          }
        }
      },
      {
        "parameters": {
          "chatId": "={{ $('Prepare User Context').item.json.chat_id }}",
          "text": "={{ '\ud83d\udd14 *Alert Set*\\n\\n\ud83d\udcca ' + $('Parse Claude Response').item.json.symbol + '\\n' + ($('Parse Claude Response').item.json.lower_bound ? '   \u2b07\ufe0f Lower: \u20b9' + $('Parse Claude Response').item.json.lower_bound + '\\n' : '') + ($('Parse Claude Response').item.json.upper_bound ? '   \u2b06\ufe0f Upper: \u20b9' + $('Parse Claude Response').item.json.upper_bound + '\\n' : '') + '\\nView alerts: `alerts`\\nCancel: `cancel alert ' + $('Parse Claude Response').item.json.symbol + '`' }}",
          "additionalFields": {
            "parse_mode": "Markdown",
            "appendAttribution": false
          }
        },
        "id": "confirm-alert-set",
        "name": "Confirm Alert Set",
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          2710,
          100
        ],
        "credentials": {
          "telegramApi": {
            "id": "oh2jj2bRbyNVQvgB",
            "name": "Telegram account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose"
            },
            "conditions": [
              {
                "id": "has-token",
                "leftValue": "={{ $json.mode }}",
                "rightValue": "store_token",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          }
        },
        "id": "is-token-provided",
        "name": "Is Token Provided?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          2720,
          800
        ]
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "INSERT INTO kite_sessions (user_id, access_token_encrypted, token_expiry, last_login_at) VALUES ($1, $2, NOW() + INTERVAL '18 hours', NOW()) ON CONFLICT (user_id) DO UPDATE SET access_token_encrypted = EXCLUDED.access_token_encrypted, token_expiry = EXCLUDED.token_expiry, last_login_at = NOW() RETURNING user_id, token_expiry",
          "options": {
            "queryReplacement": "={{ [$json.user_id, $json.access_token] }}"
          }
        },
        "id": "store-token-db",
        "name": "Store Token in DB",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          2980,
          720
        ],
        "credentials": {
          "postgres": {
            "id": "6dSdIQ2xAFPzyEwe",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "chatId": "={{ $('Handle LOGIN').first().json.chat_id }}",
          "text": "={{ '\u2705 *Kite Login Successful!*\\n\\nYour Zerodha session is now active.\\nToken valid until: ' + new Date($input.first().json.token_expiry).toLocaleString(\"en-IN\", {timeZone: \"Asia/Kolkata\"}) + ' IST\\n\\nLive data is now enabled. Your morning briefing will include live price data.' }}",
          "additionalFields": {
            "parse_mode": "Markdown",
            "appendAttribution": false
          }
        },
        "id": "confirm-login",
        "name": "Confirm Login",
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          3240,
          720
        ],
        "credentials": {
          "telegramApi": {
            "id": "oh2jj2bRbyNVQvgB",
            "name": "Telegram account"
          }
        }
      },
      {
        "parameters": {
          "chatId": "={{ $('Handle LOGIN').first().json.chat_id }}",
          "text": "\ud83d\udd11 *Kite Connect Login*\n\n1. Click the link below to login:\n[Login to Zerodha](https://kite.zerodha.com/connect/login?v=3&api_key=gifzm9kfars6kr8x)\n\n2. Complete Zerodha login\n3. From the redirect URL, copy the full URL or just the `request_token` value\n4. Send: `login YOUR_TOKEN`\n\nOr send your existing token directly:\n`login api_key:access_token`",
          "additionalFields": {
            "parse_mode": "Markdown",
            "appendAttribution": false
          }
        },
        "id": "login-instructions",
        "name": "Login Instructions",
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          2980,
          880
        ],
        "credentials": {
          "telegramApi": {
            "id": "oh2jj2bRbyNVQvgB",
            "name": "Telegram account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Format prediction/analysis response\nconst symbol = $(\"Parse Claude Response\").item.json.symbol;\nconst ctx = $(\"Parse Claude Response\").item.json;\n\n// Get the quote data from Fetch Kite Quote\nlet quote = {};\ntry {\n  const raw = $input.first().json;\n  // Kite returns: {\"status\": \"success\", \"data\": {\"NSE:SYMBOL\": {...}}}\n  if (raw.status === \"success\" && raw.data) {\n    const key = Object.keys(raw.data)[0];\n    quote = raw.data[key] || {};\n  }\n} catch(e) {}\n\nconst price = quote.last_price || null;\nconst change = quote.change || 0;\nconst changePct = (quote.change / (quote.last_price - quote.change) * 100) || 0;\nconst high = quote.ohlc?.high || null;\nconst low = quote.ohlc?.low || null;\nconst prevClose = quote.ohlc?.close || null;\n\nlet msg = `\ud83d\udd2e *Price Analysis: ${symbol}*\\n\\n`;\n\nif (price) {\n  const arrow = change >= 0 ? \"\ud83d\udcc8\" : \"\ud83d\udcc9\";\n  msg += `${arrow} *\u20b9${price.toLocaleString(\"en-IN\")}*\\n`;\n  if (change !== 0) {\n    const pct = changePct.toFixed(2);\n    msg += `   ${change >= 0 ? \"+\" : \"\"}${change.toFixed(2)} (${change >= 0 ? \"+\" : \"\"}${pct}%)\\n`;\n  }\n  if (high && low) msg += `   Day Range: \u20b9${low} \u2014 \u20b9${high}\\n`;\n  if (prevClose) msg += `   Prev Close: \u20b9${prevClose}\\n`;\n  \n  const target = ctx.upper_bound;\n  if (target) {\n    const diff = ((target - price) / price * 100).toFixed(1);\n    const dir = target > price ? \"upside\" : \"downside\";\n    msg += `\\n\ud83c\udfaf *Target: \u20b9${target}*\\n   ${Math.abs(diff)}% ${dir}\\n`;\n  }\n  \n  msg += `\\n\ud83d\udcca Full AI analysis with technicals & options data arrives in your morning briefing at 8:30 AM.`;\n} else {\n  msg += `\u26a0\ufe0f No live data available for *${symbol || \"unknown\"}*.\\n\\nThis could be because:\\n\u2022 No active Kite session (use \\`login\\`)\\n\u2022 Market is closed\\n\u2022 Invalid symbol name`;\n}\n\nreturn [{ json: { chat_id: ctx.chat_id, message: msg } }];"
        },
        "id": "format-predict",
        "name": "Format Prediction",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2710,
          400
        ]
      },
      {
        "parameters": {
          "chatId": "={{ $json.chat_id }}",
          "text": "={{ $json.message }}",
          "additionalFields": {
            "parse_mode": "Markdown",
            "appendAttribution": false
          }
        },
        "id": "send-predict",
        "name": "Send Prediction",
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          2960,
          400
        ],
        "credentials": {
          "telegramApi": {
            "id": "oh2jj2bRbyNVQvgB",
            "name": "Telegram account"
          }
        }
      },
      {
        "parameters": {
          "method": "GET",
          "url": "={{ 'https://api.kite.trade/quote?i=NSE:' + $('Parse Claude Response').item.json.symbol }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "={{ 'token gifzm9kfars6kr8x:' + $('Get Quote Token').first().json.access_token_encrypted }}"
              },
              {
                "name": "X-Kite-Version",
                "value": "3"
              }
            ]
          },
          "options": {}
        },
        "id": "fetch-kite-quote",
        "name": "Fetch Kite Quote",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2720,
          400
        ],
        "onError": "continueRegularOutput"
      },
      {
        "id": "sync-get-token",
        "name": "Get Sync Token",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          2460,
          850
        ],
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT access_token_encrypted, token_expiry > NOW() as is_valid FROM kite_sessions WHERE user_id = (SELECT id FROM users WHERE is_kite_provider = true LIMIT 1) LIMIT 1"
        },
        "credentials": {
          "postgres": {
            "id": "6dSdIQ2xAFPzyEwe",
            "name": "Postgres account"
          }
        },
        "alwaysOutputData": true
      },
      {
        "id": "sync-is-valid",
        "name": "Is Sync Token Valid?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          2700,
          850
        ],
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose"
            },
            "conditions": [
              {
                "id": "sync-token-check",
                "leftValue": "={{ $json.is_valid }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "true"
                }
              }
            ],
            "combinator": "and"
          }
        }
      },
      {
        "id": "sync-no-token",
        "name": "No Kite Token Msg",
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          2940,
          720
        ],
        "parameters": {
          "chatId": "={{ $(\"Parse Claude Response\").item.json.chat_id }}",
          "text": "\u26a0\ufe0f *Kite Session Required*\n\nYour Kite token has expired or is not set.\n\nTo sync your portfolio:\n1. Get a fresh access token from Kite\n2. Send: `login api_key:access_token`\n\nThen try `sync` again.",
          "additionalFields": {
            "parse_mode": "Markdown",
            "appendAttribution": false
          }
        },
        "credentials": {
          "telegramApi": {
            "id": "oh2jj2bRbyNVQvgB",
            "name": "Telegram account"
          }
        }
      },
      {
        "id": "sync-fetch-kite",
        "name": "Fetch Kite Holdings",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2940,
          980
        ],
        "parameters": {
          "method": "GET",
          "url": "https://api.kite.trade/portfolio/holdings",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "={{ 'token gifzm9kfars6kr8x:' + $json.access_token_encrypted }}"
              }
            ]
          },
          "options": {
            "response": {
              "response": {
                "responseFormat": "json"
              }
            }
          },
          "onError": "continueRegularOutput"
        }
      },
      {
        "id": "sync-build-sql",
        "name": "Build Sync SQL",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3180,
          980
        ],
        "parameters": {
          "jsCode": "const userId = $(\"Parse Claude Response\").item.json.user_id;\nconst response = $(\"Fetch Kite Holdings\").item.json;\nconst holdings = response.data || [];\n\nif (holdings.length === 0) {\n  return [{ json: {\n    sql: 'SELECT 1 AS synced_count',\n    count: 0,\n    sample: 'No holdings returned from Kite'\n  }}];\n}\n\nconst values = holdings.map(h => {\n  const sym = h.tradingsymbol.replace(/'/g, \"''\");\n  const qty = parseInt(h.quantity);\n  const price = parseFloat(h.average_price).toFixed(2);\n  return `(${userId}, '${sym}', 'BUY', ${qty}, ${price}, 'kite_sync', CURRENT_DATE)`;\n}).join(',\\n');\n\nconst sql = `DELETE FROM trades WHERE user_id=${userId} AND source='kite_sync';\\nINSERT INTO trades (user_id, symbol, trade_type, quantity, price, source, trade_date) VALUES\\n${values};`;\n\nconst sample = holdings.slice(0, 3).map(h =>\n  `${h.tradingsymbol} (${h.quantity}@\\u20b9${parseFloat(h.average_price).toFixed(0)})`\n).join(', ');\n\nreturn [{ json: { sql, count: holdings.length, sample } }];"
        }
      },
      {
        "id": "sync-execute",
        "name": "Execute Sync",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          3420,
          980
        ],
        "parameters": {
          "operation": "executeQuery",
          "query": "={{ $json.sql }}"
        },
        "credentials": {
          "postgres": {
            "id": "6dSdIQ2xAFPzyEwe",
            "name": "Postgres account"
          }
        }
      },
      {
        "id": "sync-format-result",
        "name": "Format Sync Result",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3420,
          1200
        ],
        "parameters": {
          "jsCode": "const count = $(\"Build Sync SQL\").item.json.count;\nconst sample = $(\"Build Sync SQL\").item.json.sample;\nconst chatId = $(\"Parse Claude Response\").item.json.chat_id;\n\nreturn [{ json: {\n  chat_id: chatId,\n  message: `\\u2705 *Portfolio Synced!*\\n\\nImported *${count} holdings* from Kite Connect.\\n\\nSample: ${sample}...\\n\\nSend \\`portfolio\\` to view your holdings.`\n}}];"
        }
      },
      {
        "id": "sync-confirm",
        "name": "Confirm Sync",
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          3660,
          1200
        ],
        "parameters": {
          "chatId": "={{ $json.chat_id }}",
          "text": "={{ $json.message }}",
          "additionalFields": {
            "parse_mode": "Markdown",
            "appendAttribution": false
          }
        },
        "credentials": {
          "telegramApi": {
            "id": "oh2jj2bRbyNVQvgB",
            "name": "Telegram account"
          }
        }
      }
    ],
    "connections": {
      "Telegram Trigger": {
        "main": [
          [
            {
              "node": "Extract Message Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract Message Data": {
        "main": [
          [
            {
              "node": "Check User Auth",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check User Auth": {
        "main": [
          [
            {
              "node": "Is Authorized?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is Authorized?": {
        "main": [
          [
            {
              "node": "Prepare User Context",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Reject Unauthorized",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare User Context": {
        "main": [
          [
            {
              "node": "Is File Upload?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is File Upload?": {
        "main": [
          [
            {
              "node": "Handle File Upload",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Claude: Parse Intent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Claude: Parse Intent": {
        "main": [
          [
            {
              "node": "Parse Claude Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Claude Response": {
        "main": [
          [
            {
              "node": "Save to Context",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Save to Context": {
        "main": [
          [
            {
              "node": "Route by Intent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Route by Intent": {
        "main": [
          [
            {
              "node": "Handle BUY",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Handle SELL",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Handle ALERT SET",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Handle PORTFOLIO",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Get Quote Token",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Handle BRIEFING",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Fetch Active Alerts",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Prepare Alert Cancel",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Handle LOGIN",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Get Sync Token",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Handle HELP",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Handle Unknown",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Handle BUY": {
        "main": [
          [
            {
              "node": "Confirm BUY",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Handle PORTFOLIO": {
        "main": [
          [
            {
              "node": "Format Portfolio",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format Portfolio": {
        "main": [
          [
            {
              "node": "Send Portfolio",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch Active Alerts": {
        "main": [
          [
            {
              "node": "Format Alerts List",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format Alerts List": {
        "main": [
          [
            {
              "node": "Send Alerts List",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare Alert Cancel": {
        "main": [
          [
            {
              "node": "Cancel Alert in DB",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Cancel Alert in DB": {
        "main": [
          [
            {
              "node": "Confirm Alert Cancel",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Handle SELL": {
        "main": [
          [
            {
              "node": "Confirm SELL",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Handle ALERT SET": {
        "main": [
          [
            {
              "node": "Confirm Alert Set",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Handle LOGIN": {
        "main": [
          [
            {
              "node": "Is Token Provided?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is Token Provided?": {
        "main": [
          [
            {
              "node": "Store Token in DB",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Login Instructions",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Store Token in DB": {
        "main": [
          [
            {
              "node": "Confirm Login",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format Prediction": {
        "main": [
          [
            {
              "node": "Send Prediction",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Quote Token": {
        "main": [
          [
            {
              "node": "Fetch Kite Quote",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch Kite Quote": {
        "main": [
          [
            {
              "node": "Format Prediction",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Sync Token": {
        "main": [
          [
            {
              "node": "Is Sync Token Valid?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is Sync Token Valid?": {
        "main": [
          [
            {
              "node": "Fetch Kite Holdings",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "No Kite Token Msg",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch Kite Holdings": {
        "main": [
          [
            {
              "node": "Build Sync SQL",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Sync SQL": {
        "main": [
          [
            {
              "node": "Execute Sync",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Execute Sync": {
        "main": [
          [
            {
              "node": "Format Sync Result",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format Sync Result": {
        "main": [
          [
            {
              "node": "Confirm Sync",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Vipindas S",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-02-18T14:22:29.011Z",
        "id": 150,
        "workflowId": "kGn3KwIfHldiwuGW",
        "versionId": "d02f9c52-5f8f-4e02-adc3-f9b2cc8222b3",
        "event": "activated",
        "userId": "88dcc745-8de1-40a7-a5c3-0cbc3021a882"
      }
    ]
  },
  "scopes": [
    "workflow:create",
    "workflow:delete",
    "workflow:execute",
    "workflow:execute-chat",
    "workflow:list",
    "workflow:move",
    "workflow:publish",
    "workflow:read",
    "workflow:share",
    "workflow:unpublish",
    "workflow:update"
  ],
  "checksum": "d0aa619efe4d3c91595ba1c090ef6f9cfbb1d945f323cf353c2b9536d03791aa"
}