n8n-workflows/wf4-morning-briefing.json
{
    "updatedAt": "2026-02-19T04:44:53.460Z",
    "createdAt": "2026-02-17T17:48:41.845Z",
    "id": "NYoURGSYiDNdpP3Q",
    "name": "WF4 - Morning Briefing Synthesis",
    "description": null,
    "active": true,
    "isArchived": false,
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "cronExpression",
                            "expression": "30 8 * * 1-5"
                        }
                    ]
                }
            },
            "id": "cron-830am",
            "name": "8:30 AM Mon-Fri",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.2,
            "position": [
                220,
                300
            ]
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "SELECT data_type, symbol, data FROM staging_data WHERE data_date = CURRENT_DATE ORDER BY data_type"
            },
            "id": "read-all-staging",
            "name": "Read All Staging Data",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.5,
            "position": [
                440,
                300
            ],
            "credentials": {
                "postgres": {
                    "id": "6dSdIQ2xAFPzyEwe",
                    "name": "Postgres account"
                }
            },
            "alwaysOutputData": true,
            "onError": "continueRegularOutput"
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "SELECT u.id AS user_id, u.display_name, u.alerts_chat_id, u.private_chat_id, u.settings, json_agg(json_build_object('symbol', h.symbol, 'qty', h.net_quantity, 'avg_price', h.avg_buy_price, 'invested', h.total_invested)) AS holdings FROM users u LEFT JOIN holdings h ON u.id = h.user_id AND h.net_quantity > 0 WHERE u.is_active = true GROUP BY u.id"
            },
            "id": "get-users-holdings",
            "name": "Get Users & Holdings",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.5,
            "position": [
                440,
                500
            ],
            "credentials": {
                "postgres": {
                    "id": "6dSdIQ2xAFPzyEwe",
                    "name": "Postgres account"
                }
            },
            "alwaysOutputData": true,
            "onError": "continueRegularOutput"
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "SELECT user_id, symbol, lower_bound, upper_bound, status FROM alerts WHERE status = 'active'"
            },
            "id": "get-active-alerts",
            "name": "Get Active Alerts",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.5,
            "position": [
                440,
                700
            ],
            "credentials": {
                "postgres": {
                    "id": "6dSdIQ2xAFPzyEwe",
                    "name": "Postgres account"
                }
            },
            "alwaysOutputData": true,
            "onError": "continueRegularOutput"
        },
        {
            "parameters": {
                "jsCode": "// Assemble comprehensive context per user for Claude briefing\nconst stagingData = $('Read All Staging Data').all().map(i => i.json);\nconst users = $('Get Users & Holdings').all().map(i => i.json);\nconst allAlerts = $('Get Active Alerts').all().map(i => i.json);\n\n// Organize staging data by type\nconst staged = {};\nfor (const row of stagingData) {\n  const data = typeof row.data === 'string' ? JSON.parse(row.data) : row.data;\n  if (row.symbol) {\n    if (!staged[row.data_type]) staged[row.data_type] = {};\n    staged[row.data_type][row.symbol] = data;\n  } else {\n    staged[row.data_type] = data;\n  }\n}\n\n// Generate personalized briefing request per user\nconst briefingRequests = [];\n\nfor (const user of users) {\n  const userAlerts = allAlerts.filter(a => a.user_id === user.user_id);\n  const holdings = user.holdings || [];\n  \n  // Build per-stock technical data\n  const stockAnalysis = [];\n  for (const h of holdings) {\n    if (!h.symbol) continue;\n    const tech = staged.technicals?.[h.symbol] || null;\n    const sentiment = (staged.options_news?.news_sentiment || [])\n      .find(s => s.symbol === h.symbol);\n    const alert = userAlerts.find(a => a.symbol === h.symbol);\n    \n    stockAnalysis.push({\n      symbol: h.symbol,\n      quantity: h.qty,\n      avg_buy_price: h.avg_price,\n      invested: h.invested,\n      technicals: tech,\n      sentiment: sentiment || null,\n      alert: alert || null\n    });\n  }\n\n  const context = {\n    user_name: user.display_name,\n    global_cues: staged.global_cues || {},\n    fii_dii: staged.fii_dii || {},\n    nifty_options: staged.options_news?.nifty_options || {},\n    corporate_actions: staged.options_news?.corporate_actions || {},\n    news_headlines: staged.options_news?.news_articles || [],\n    stock_analysis: stockAnalysis,\n    active_alerts_count: userAlerts.length\n  };\n\n  briefingRequests.push({\n    user_id: user.user_id,\n    chat_id: user.alerts_chat_id || user.private_chat_id,\n    display_name: user.display_name,\n    context: context\n  });\n}\n\nreturn briefingRequests.map(r => ({ json: r }));"
            },
            "id": "assemble-context",
            "name": "Assemble Per-User Context",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                720,
                500
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.anthropic.com/v1/messages",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "anthropic-version",
                            "value": "2023-06-01"
                        },
                        {
                            "name": "content-type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify({ model: 'claude-sonnet-4-20250514', max_tokens: 1500, system: 'You are StockPulse, an expert Indian stock market analyst. Generate a personalized morning briefing in Telegram markdown format (use * for bold). Keep it 400-500 words max.\\n\\nStructure:\\n1. \ud83c\udf0d MARKET PULSE (3 lines): Global overnight summary + FII/DII signal + NIFTY PCR & expected range\\n2. \ud83d\udcca STOCK-BY-STOCK (for each holding):\\n   - Technical (1 line): trend + key indicator\\n   - Flow (1 line): FII/DII context\\n   - News (1 line): sentiment + headline if notable\\n   - Options (1 line): if F&O stock \u2014 OI buildup\\n   - Alert distance: X% from upper/lower\\n   - Action: specific trigger for today\\n3. \ud83c\udfaf TODAY\\'S SCENARIOS: Bullish / Bearish / Most Likely cases (2-3 lines each)\\n4. \u26a1 TOP 2 ACTIONS: Specific actionable triggers with price levels\\n5. \u26a0\ufe0f RISK FLAGS: Overbought/oversold, unusual patterns, upcoming events\\n\\nEnd with: \u26a0\ufe0f Technical + flow analysis only. Not financial advice.\\n\\nBe specific with numbers. Use \u20b9 for prices. Use \ud83d\udfe2\ud83d\udd34\u26a1\u26a0\ufe0f emojis sparingly.', messages: [{ role: 'user', content: 'Generate morning briefing for ' + $json.display_name + ':\\n\\n' + JSON.stringify($json.context, null, 2) }] }) }}"
            },
            "id": "claude-briefing",
            "name": "Claude: Generate Briefing",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1000,
                500
            ],
            "credentials": {
                "httpHeaderAuth": {
                    "id": "Idkjo6pmv2QE4urQ",
                    "name": "Anthropic Header Auth"
                }
            },
            "onError": "continueRegularOutput"
        },
        {
            "parameters": {
                "jsCode": "// Handle errors from Claude API\nconst resp = $input.first().json;\nlet text = '';\ntry {\n  if (resp.content && resp.content[0]) {\n    text = resp.content[0].text;\n  } else {\n    text = 'Morning briefing generation failed. Your portfolio data is being monitored and alerts are active.';\n  }\n} catch(e) {\n  text = 'Morning briefing generation failed. Your portfolio data is being monitored and alerts are active.';\n}\n\n// Sanitize Telegram markdown\ntry {\n  text = text.replace(/```\\w+/g, '```');\n  const starCount = (text.match(/\\*/g) || []).length;\n  if (starCount % 2 !== 0) {\n    const lastIdx = text.lastIndexOf('*');\n    text = text.substring(0, lastIdx) + text.substring(lastIdx + 1);\n  }\n} catch(e2) {\n  text = text.replace(/[*_`\\[\\]]/g, '');\n}\n\n// Get user info from Assemble context\nconst ctx = $('Assemble Per-User Context').first().json;\nreturn [{\n  json: {\n    chat_id: ctx.chat_id || ctx.private_chat_id,\n    message: text,\n    reply_markup: JSON.stringify({\n      inline_keyboard: [\n        [{text: \"Portfolio\", callback_data: \"portfolio\"}, {text: \"My Alerts\", callback_data: \"alerts\"}],\n        [{text: \"Help\", callback_data: \"help\"}]\n      ]\n    })\n  }\n}];"
            },
            "id": "format-briefing",
            "name": "Format Briefing",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1220,
                500
            ]
        },
        {
            "parameters": {
                "chatId": "={{ $json.chat_id }}",
                "text": "={{ $json.text }}",
                "additionalFields": {
                    "parse_mode": "Markdown",
                    "appendAttribution": false,
                    "reply_markup": "={{ $json.reply_markup || '' }}"
                }
            },
            "id": "send-briefing",
            "name": "Send Briefing",
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1.2,
            "position": [
                1440,
                500
            ],
            "credentials": {
                "telegramApi": {
                    "id": "oh2jj2bRbyNVQvgB",
                    "name": "Telegram account"
                }
            }
        }
    ],
    "connections": {
        "8:30 AM Mon-Fri": {
            "main": [
                [
                    {
                        "node": "Read All Staging Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Read All Staging Data": {
            "main": [
                [
                    {
                        "node": "Get Users & Holdings",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Users & Holdings": {
            "main": [
                [
                    {
                        "node": "Get Active Alerts",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Active Alerts": {
            "main": [
                [
                    {
                        "node": "Assemble Per-User Context",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Assemble Per-User Context": {
            "main": [
                [
                    {
                        "node": "Claude: Generate Briefing",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Claude: Generate Briefing": {
            "main": [
                [
                    {
                        "node": "Format Briefing",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Format Briefing": {
            "main": [
                [
                    {
                        "node": "Send Briefing",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1",
        "callerPolicy": "workflowsFromSameOwner",
        "availableInMCP": false
    },
    "staticData": {
        "node:8:30 AM Mon-Fri": {
            "recurrenceRules": []
        }
    },
    "meta": null,
    "pinData": null,
    "versionId": "3730fccd-fc0a-458c-8d1d-db711e440b4c",
    "activeVersionId": "3730fccd-fc0a-458c-8d1d-db711e440b4c",
    "versionCounter": 27,
    "triggerCount": 1,
    "shared": [
        {
            "updatedAt": "2026-02-17T17:48:41.845Z",
            "createdAt": "2026-02-17T17:48:41.845Z",
            "role": "workflow:owner",
            "workflowId": "NYoURGSYiDNdpP3Q",
            "projectId": "qJqZAaC2LCOkdDc2",
            "project": {
                "updatedAt": "2026-02-17T17:30:11.422Z",
                "createdAt": "2026-02-17T17:24:57.957Z",
                "id": "qJqZAaC2LCOkdDc2",
                "name": "Vipindas S <mail2vdas@gmail.com>",
                "type": "personal",
                "icon": null,
                "description": null,
                "creatorId": "88dcc745-8de1-40a7-a5c3-0cbc3021a882"
            }
        }
    ],
    "tags": [],
    "activeVersion": {
        "updatedAt": "2026-02-19T04:44:53.462Z",
        "createdAt": "2026-02-19T04:44:53.462Z",
        "versionId": "3730fccd-fc0a-458c-8d1d-db711e440b4c",
        "workflowId": "NYoURGSYiDNdpP3Q",
        "nodes": [
            {
                "parameters": {
                    "rule": {
                        "interval": [
                            {
                                "field": "cronExpression",
                                "expression": "30 8 * * 1-5"
                            }
                        ]
                    }
                },
                "id": "cron-830am",
                "name": "8:30 AM Mon-Fri",
                "type": "n8n-nodes-base.scheduleTrigger",
                "typeVersion": 1.2,
                "position": [
                    220,
                    300
                ]
            },
            {
                "parameters": {
                    "operation": "executeQuery",
                    "query": "SELECT data_type, symbol, data FROM staging_data WHERE data_date = CURRENT_DATE ORDER BY data_type"
                },
                "id": "read-all-staging",
                "name": "Read All Staging Data",
                "type": "n8n-nodes-base.postgres",
                "typeVersion": 2.5,
                "position": [
                    440,
                    300
                ],
                "credentials": {
                    "postgres": {
                        "id": "6dSdIQ2xAFPzyEwe",
                        "name": "Postgres account"
                    }
                },
                "alwaysOutputData": true,
                "onError": "continueRegularOutput"
            },
            {
                "parameters": {
                    "operation": "executeQuery",
                    "query": "SELECT u.id AS user_id, u.display_name, u.alerts_chat_id, u.private_chat_id, u.settings, json_agg(json_build_object('symbol', h.symbol, 'qty', h.net_quantity, 'avg_price', h.avg_buy_price, 'invested', h.total_invested)) AS holdings FROM users u LEFT JOIN holdings h ON u.id = h.user_id AND h.net_quantity > 0 WHERE u.is_active = true GROUP BY u.id"
                },
                "id": "get-users-holdings",
                "name": "Get Users & Holdings",
                "type": "n8n-nodes-base.postgres",
                "typeVersion": 2.5,
                "position": [
                    440,
                    500
                ],
                "credentials": {
                    "postgres": {
                        "id": "6dSdIQ2xAFPzyEwe",
                        "name": "Postgres account"
                    }
                },
                "alwaysOutputData": true,
                "onError": "continueRegularOutput"
            },
            {
                "parameters": {
                    "operation": "executeQuery",
                    "query": "SELECT user_id, symbol, lower_bound, upper_bound, status FROM alerts WHERE status = 'active'"
                },
                "id": "get-active-alerts",
                "name": "Get Active Alerts",
                "type": "n8n-nodes-base.postgres",
                "typeVersion": 2.5,
                "position": [
                    440,
                    700
                ],
                "credentials": {
                    "postgres": {
                        "id": "6dSdIQ2xAFPzyEwe",
                        "name": "Postgres account"
                    }
                },
                "alwaysOutputData": true,
                "onError": "continueRegularOutput"
            },
            {
                "parameters": {
                    "jsCode": "// Assemble comprehensive context per user for Claude briefing\nconst stagingData = $('Read All Staging Data').all().map(i => i.json);\nconst users = $('Get Users & Holdings').all().map(i => i.json);\nconst allAlerts = $('Get Active Alerts').all().map(i => i.json);\n\n// Organize staging data by type\nconst staged = {};\nfor (const row of stagingData) {\n  const data = typeof row.data === 'string' ? JSON.parse(row.data) : row.data;\n  if (row.symbol) {\n    if (!staged[row.data_type]) staged[row.data_type] = {};\n    staged[row.data_type][row.symbol] = data;\n  } else {\n    staged[row.data_type] = data;\n  }\n}\n\n// Generate personalized briefing request per user\nconst briefingRequests = [];\n\nfor (const user of users) {\n  const userAlerts = allAlerts.filter(a => a.user_id === user.user_id);\n  const holdings = user.holdings || [];\n  \n  // Build per-stock technical data\n  const stockAnalysis = [];\n  for (const h of holdings) {\n    if (!h.symbol) continue;\n    const tech = staged.technicals?.[h.symbol] || null;\n    const sentiment = (staged.options_news?.news_sentiment || [])\n      .find(s => s.symbol === h.symbol);\n    const alert = userAlerts.find(a => a.symbol === h.symbol);\n    \n    stockAnalysis.push({\n      symbol: h.symbol,\n      quantity: h.qty,\n      avg_buy_price: h.avg_price,\n      invested: h.invested,\n      technicals: tech,\n      sentiment: sentiment || null,\n      alert: alert || null\n    });\n  }\n\n  const context = {\n    user_name: user.display_name,\n    global_cues: staged.global_cues || {},\n    fii_dii: staged.fii_dii || {},\n    nifty_options: staged.options_news?.nifty_options || {},\n    corporate_actions: staged.options_news?.corporate_actions || {},\n    news_headlines: staged.options_news?.news_articles || [],\n    stock_analysis: stockAnalysis,\n    active_alerts_count: userAlerts.length\n  };\n\n  briefingRequests.push({\n    user_id: user.user_id,\n    chat_id: user.alerts_chat_id || user.private_chat_id,\n    display_name: user.display_name,\n    context: context\n  });\n}\n\nreturn briefingRequests.map(r => ({ json: r }));"
                },
                "id": "assemble-context",
                "name": "Assemble Per-User Context",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    720,
                    500
                ]
            },
            {
                "parameters": {
                    "method": "POST",
                    "url": "https://api.anthropic.com/v1/messages",
                    "authentication": "genericCredentialType",
                    "genericAuthType": "httpHeaderAuth",
                    "sendHeaders": true,
                    "headerParameters": {
                        "parameters": [
                            {
                                "name": "anthropic-version",
                                "value": "2023-06-01"
                            },
                            {
                                "name": "content-type",
                                "value": "application/json"
                            }
                        ]
                    },
                    "sendBody": true,
                    "specifyBody": "json",
                    "jsonBody": "={{ JSON.stringify({ model: 'claude-sonnet-4-20250514', max_tokens: 1500, system: 'You are StockPulse, an expert Indian stock market analyst. Generate a personalized morning briefing in Telegram markdown format (use * for bold). Keep it 400-500 words max.\\n\\nStructure:\\n1. \ud83c\udf0d MARKET PULSE (3 lines): Global overnight summary + FII/DII signal + NIFTY PCR & expected range\\n2. \ud83d\udcca STOCK-BY-STOCK (for each holding):\\n   - Technical (1 line): trend + key indicator\\n   - Flow (1 line): FII/DII context\\n   - News (1 line): sentiment + headline if notable\\n   - Options (1 line): if F&O stock \u2014 OI buildup\\n   - Alert distance: X% from upper/lower\\n   - Action: specific trigger for today\\n3. \ud83c\udfaf TODAY\\'S SCENARIOS: Bullish / Bearish / Most Likely cases (2-3 lines each)\\n4. \u26a1 TOP 2 ACTIONS: Specific actionable triggers with price levels\\n5. \u26a0\ufe0f RISK FLAGS: Overbought/oversold, unusual patterns, upcoming events\\n\\nEnd with: \u26a0\ufe0f Technical + flow analysis only. Not financial advice.\\n\\nBe specific with numbers. Use \u20b9 for prices. Use \ud83d\udfe2\ud83d\udd34\u26a1\u26a0\ufe0f emojis sparingly.', messages: [{ role: 'user', content: 'Generate morning briefing for ' + $json.display_name + ':\\n\\n' + JSON.stringify($json.context, null, 2) }] }) }}"
                },
                "id": "claude-briefing",
                "name": "Claude: Generate Briefing",
                "type": "n8n-nodes-base.httpRequest",
                "typeVersion": 4.2,
                "position": [
                    1000,
                    500
                ],
                "credentials": {
                    "httpHeaderAuth": {
                        "id": "Idkjo6pmv2QE4urQ",
                        "name": "Anthropic Header Auth"
                    }
                },
                "onError": "continueRegularOutput"
            },
            {
                "parameters": {
                    "jsCode": "// Handle errors from Claude API\nconst resp = $input.first().json;\nlet text = '';\ntry {\n  if (resp.content && resp.content[0]) {\n    text = resp.content[0].text;\n  } else {\n    text = 'Morning briefing generation failed. Your portfolio data is being monitored and alerts are active.';\n  }\n} catch(e) {\n  text = 'Morning briefing generation failed. Your portfolio data is being monitored and alerts are active.';\n}\n\n// Sanitize Telegram markdown\ntry {\n  text = text.replace(/```\\w+/g, '```');\n  const starCount = (text.match(/\\*/g) || []).length;\n  if (starCount % 2 !== 0) {\n    const lastIdx = text.lastIndexOf('*');\n    text = text.substring(0, lastIdx) + text.substring(lastIdx + 1);\n  }\n} catch(e2) {\n  text = text.replace(/[*_`\\[\\]]/g, '');\n}\n\n// Get user info from Assemble context\nconst ctx = $('Assemble Per-User Context').first().json;\nreturn [{\n  json: {\n    chat_id: ctx.chat_id || ctx.private_chat_id,\n    message: text,\n    reply_markup: JSON.stringify({\n      inline_keyboard: [\n        [{text: \"Portfolio\", callback_data: \"portfolio\"}, {text: \"My Alerts\", callback_data: \"alerts\"}],\n        [{text: \"Help\", callback_data: \"help\"}]\n      ]\n    })\n  }\n}];"
                },
                "id": "format-briefing",
                "name": "Format Briefing",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    1220,
                    500
                ]
            },
            {
                "parameters": {
                    "chatId": "={{ $json.chat_id }}",
                    "text": "={{ $json.text }}",
                    "additionalFields": {
                        "parse_mode": "Markdown",
                        "appendAttribution": false,
                        "reply_markup": "={{ $json.reply_markup || '' }}"
                    }
                },
                "id": "send-briefing",
                "name": "Send Briefing",
                "type": "n8n-nodes-base.telegram",
                "typeVersion": 1.2,
                "position": [
                    1440,
                    500
                ],
                "credentials": {
                    "telegramApi": {
                        "id": "oh2jj2bRbyNVQvgB",
                        "name": "Telegram account"
                    }
                }
            }
        ],
        "connections": {
            "8:30 AM Mon-Fri": {
                "main": [
                    [
                        {
                            "node": "Read All Staging Data",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Read All Staging Data": {
                "main": [
                    [
                        {
                            "node": "Get Users & Holdings",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Get Users & Holdings": {
                "main": [
                    [
                        {
                            "node": "Get Active Alerts",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Get Active Alerts": {
                "main": [
                    [
                        {
                            "node": "Assemble Per-User Context",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Assemble Per-User Context": {
                "main": [
                    [
                        {
                            "node": "Claude: Generate Briefing",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Claude: Generate Briefing": {
                "main": [
                    [
                        {
                            "node": "Format Briefing",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Format Briefing": {
                "main": [
                    [
                        {
                            "node": "Send Briefing",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            }
        },
        "authors": "Vipindas S",
        "name": null,
        "description": null,
        "autosaved": false,
        "workflowPublishHistory": [
            {
                "createdAt": "2026-02-19T04:44:53.604Z",
                "id": 191,
                "workflowId": "NYoURGSYiDNdpP3Q",
                "versionId": "3730fccd-fc0a-458c-8d1d-db711e440b4c",
                "event": "deactivated",
                "userId": "88dcc745-8de1-40a7-a5c3-0cbc3021a882"
            },
            {
                "createdAt": "2026-02-19T04:44:53.674Z",
                "id": 192,
                "workflowId": "NYoURGSYiDNdpP3Q",
                "versionId": "3730fccd-fc0a-458c-8d1d-db711e440b4c",
                "event": "activated",
                "userId": "88dcc745-8de1-40a7-a5c3-0cbc3021a882"
            },
            {
                "createdAt": "2026-02-19T04:44:54.644Z",
                "id": 193,
                "workflowId": "NYoURGSYiDNdpP3Q",
                "versionId": "3730fccd-fc0a-458c-8d1d-db711e440b4c",
                "event": "deactivated",
                "userId": "88dcc745-8de1-40a7-a5c3-0cbc3021a882"
            },
            {
                "createdAt": "2026-02-19T04:44:54.690Z",
                "id": 194,
                "workflowId": "NYoURGSYiDNdpP3Q",
                "versionId": "3730fccd-fc0a-458c-8d1d-db711e440b4c",
                "event": "activated",
                "userId": "88dcc745-8de1-40a7-a5c3-0cbc3021a882"
            }
        ]
    }
}
