n8n-workflows/wf6-token-manager.json
{
  "name": "WF6 - Kite Token Manager",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "45 8 * * 1-5"
            }
          ]
        }
      },
      "id": "cron-845am",
      "name": "8:45 AM Mon-Fri",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        220,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT u.id, u.telegram_user_id, u.private_chat_id, ks.access_token_encrypted, ks.token_expiry FROM users u LEFT JOIN kite_sessions ks ON u.id = ks.user_id WHERE u.is_kite_provider = true AND u.is_active = true LIMIT 1"
      },
      "id": "get-kite-user",
      "name": "Get Kite Provider",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        440,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "6dSdIQ2xAFPzyEwe",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Check if current token is still valid\nconst user = $input.first().json;\nconst now = new Date();\n\nif (user.access_token_encrypted && user.token_expiry) {\n  const expiry = new Date(user.token_expiry);\n  if (expiry > now) {\n    // Token still valid \u2014 test it\n    return [{ json: { ...user, action: 'test_token' } }];\n  }\n}\n\n// Token expired or missing \u2014 need login\nreturn [{ json: { ...user, action: 'request_login' } }];"
      },
      "id": "check-token-validity",
      "name": "Check Token Validity",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "needs-login",
              "leftValue": "={{ $json.action }}",
              "rightValue": "request_login",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "needs-login",
      "name": "Needs Login?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        880,
        300
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.private_chat_id }}",
        "text": "\ud83d\udd11 *Kite Login Required*\n\nYour Zerodha session has expired. Please login to continue receiving live data:\n\n1. Click the link below\n2. Login with your Zerodha credentials\n3. You'll be redirected \u2014 copy the `request_token` from the URL\n4. Send me: `login YOUR_TOKEN_HERE`\n\n\ud83d\udd17 [Login to Zerodha](https://kite.zerodha.com/connect/login?v=3&api_key=gifzm9kfars6kr8x)",
        "additionalFields": {
          "parse_mode": "Markdown",
          "appendAttribution": false
        }
      },
      "id": "send-login-request",
      "name": "Send Login Request",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1100,
        400
      ],
      "credentials": {
        "telegramApi": {
          "id": "oh2jj2bRbyNVQvgB",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.kite.trade/user/profile",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Kite-Version",
              "value": "3"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "test-kite-token",
      "name": "Test Kite Token",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1100,
        200
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "du74DqpJeNl4luFf",
          "name": "Kite Header Auth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Check if Kite token test was successful\nconst response = $input.first().json;\nconst user = $('Needs Login?').first().json; // Get original user data\n\nif (response.status === 'success' || response.data?.user_id) {\n  return [{ json: { valid: true, user: response.data?.user_name || 'Unknown' } }];\n} else {\n  // Token invalid \u2014 need new login, pass through user data for notification\n  return [{ json: { valid: false, private_chat_id: user.private_chat_id, telegram_user_id: user.telegram_user_id } }];\n}"
      },
      "id": "check-test-result",
      "name": "Token Valid?",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1320,
        200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "token-valid-check",
              "leftValue": "={{ $json.valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "token-test-passed",
      "name": "Token Test Passed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1540,
        200
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.private_chat_id }}",
        "text": "\ud83d\udd11 *Kite Token Expired*\n\nYour Kite token test failed. Please login again:\n\n1. Click the link below\n2. Login with your Zerodha credentials\n3. Copy the `request_token` from the redirect URL\n4. Send me: `login YOUR_TOKEN_HERE`\n\n\ud83d\udd17 [Login to Zerodha](https://kite.zerodha.com/connect/login?v=3&api_key=gifzm9kfars6kr8x)",
        "additionalFields": {
          "parse_mode": "Markdown",
          "appendAttribution": false
        }
      },
      "id": "send-login-retry",
      "name": "Send Login Request (Retry)",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1760,
        300
      ],
      "credentials": {
        "telegramApi": {
          "id": "oh2jj2bRbyNVQvgB",
          "name": "Telegram account"
        }
      }
    }
  ],
  "connections": {
    "8:45 AM Mon-Fri": {
      "main": [
        [
          {
            "node": "Get Kite Provider",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Kite Provider": {
      "main": [
        [
          {
            "node": "Check Token Validity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Token Validity": {
      "main": [
        [
          {
            "node": "Needs Login?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Needs Login?": {
      "main": [
        [
          {
            "node": "Send Login Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Test Kite Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test Kite Token": {
      "main": [
        [
          {
            "node": "Token Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Token Valid?": {
      "main": [
        [
          {
            "node": "Token Test Passed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Token Test Passed?": {
      "main": [
        [],
        [
          {
            "node": "Send Login Request (Retry)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "StockPulse"
    }
  ],
  "triggerCount": 1,
  "active": false
}